<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${pageTitle} ?: 'Default Title'"></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">

    <!-- CSS Links -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/flaticon/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/sal.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style-2.css}" type="text/css">
    <style>
        .notification-count {
            display: inline-block; /* Ensure it is visible */
            visibility: visible;
        }

        .item-content {
            display: flex;
            justify-content: space-between; /* Ensures space between title and time */
            align-items: center; /* Aligns items vertically */
        }

        .item-time {
            color: gray; /* Optional for styling */
            font-size: 0.9rem;
            white-space: nowrap; /* Prevents wrapping */
        }

    </style>
</head>

<body class="sticky-header newsletter-popup-modal">

<!-- Back to Top Button -->
<a href="" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>

<!-- Header Section -->
<header class="header axil-header header-style-1" th:fragment="header">
    <div class="axil-header-top"></div>
    <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <div class="header-brand">
                    <a href="/homepage" class="logo logo-dark">
                        <img th:src="@{/images/logo/vj-market.png}" alt="Site Logo">
                    </a>
                </div>
                <div class="header-main-nav">
                    <!-- Start Mainmanu Nav -->
                    <nav class="mainmenu-nav">
                        <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                        <div class="mobile-nav-brand">
                            <a href="/homepage" class="logo">
                                <img th:src="@{/images/logo/vj-market.png}" alt="Site Logo">
                            </a>
                        </div>
                        <ul class="mainmenu">
                            <li>
                                <img th:src="@{/images/logo/baner.png}">
                            </li>
                        </ul>
                    </nav>
                    <!-- End Mainmanu Nav -->
                </div>
                <div class="header-action">
                    <ul class="action-list">
                        <li class="axil-search">
                            <a href="javascript:void(0)" class="header-search-icon" title="Search">
                                <i class="flaticon-magnifying-glass"></i>
                            </a>
                        </li>
                        <li class="wishlist">
                            <a href="/wishlist">
                                <i class="flaticon-heart"></i>
                            </a>
                        </li>
                        <li class="notification">
                            <!-- Notification Icon with Unread Count -->
                            <a href="/notification" class="notification-dropdown-btn">
                                <i class="flaticon-envelope"></i>
                                <!-- Always show unread count for debugging -->
                                <span th:if="${unreadCount > 0}" class="notification-count"></span>

                            </a>


                            <!-- Notification Dropdown -->
                            <div id="notification-dropdown" class="notification-dropdown"
                                 th:if="${topNotifications != null && !topNotifications.isEmpty()}">
                                <div class="notification-content-wrap">
                                    <!-- Header Section -->
                                    <div class="notification-header">
                                        <p>Thông báo mới</p>
                                    </div>

                                    <!-- Notification Items -->
                                    <div class="notification-body">
                                        <!-- Loop through top notifications -->
                                        <div th:each="notification : ${topNotifications}" class="notification-item">

                                            <form th:action="@{/notification/read}" method="post">
                                                <input type="hidden" name="notificationId"
                                                       th:value="${notification.notificationId}"/>
                                                <div class="item-content row" onclick="this.parentElement.submit()">
                                                    <h3 th:if="${!notification.read}" class="item-title"
                                                        th:text="${notification.title}">Notification Title</h3>
                                                    <span th:if="${notification.read}" class="item-title col-md-8"
                                                          th:text="${notification.title}">Notification Title</span>
                                                    <span style="float: right" class="item-time  col-md-4"
                                                          th:text="${#temporals.format(notification.created, 'MMM dd, yyyy HH:mm') ?: 'No Time Available'}">Time</span>
                                                </div>
                                            </form>

                                        </div>
                                    </div>

                                    <!-- Footer Section -->
                                    <div class="notification-footer">
                                        <a href="/notification">Xem thông báo</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="shopping-cart">
                            <a href="/cart-items" class="cart-dropdown-btn" onclick="event.stopPropagation();">
                                <span id="cart-count" class="cart-count">0</span>
                                <i class="flaticon-shopping-cart"></i>
                            </a>
                        </li>
                        <li class="my-account">
                            <a href="javascript:void(0)">
                                <i class="flaticon-person"></i>
                            </a>
                            <div class="my-account-dropdown">
                                <div th:if="${#authentication.name != 'anonymousUser'}">
                                    <div><span>Chào mừng, <span th:text="${firstname}"></span></span></div>
                                    <ul>
                                        <li>
                                            <a href="/my-account">Tài khoản</a>
                                        </li>
                                        <li>
                                            <a href="/orders">Đơn hàng</a>
                                        </li>
                                        <li>
                                            <a href="/logout">Đăng xuất</a>
                                        </li>
                                    </ul>
                                </div>
                                <div th:if="${#authentication.name == 'anonymousUser'}">
                                    <p style="font-size: smaller;">Hiện tại bạn chưa đăng nhập.</p>
                                    <div class="login-btn">
                                        <a href="/sign-in" class="axil-btn btn-bg-primary">Đăng nhập</a>
                                    </div>
                                    <div class="reg-footer text-center">
                                        Chưa có tài khoản? <a href="/sign-up" class="btn-link">ĐĂNG KÝ TẠI ĐÂY.</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="axil-mobile-toggle">
                            <button class="menu-btn mobile-nav-toggler">
                                <i class="flaticon-menu-2"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area -->

    <!-- Search Modal -->
    <div class="header-search-modal" id="header-search-modal">
        <div class="header-search-wrap">
            <div class="card-header">
                <form onsubmit="return performSearch()">
                    <input type="text" id="prod-search" placeholder="Tìm kiếm sản phẩm..." oninput="performSearch()"/>
                </form>
            </div>
            <div class="card-body" id="search-results" style="display: none;">
                <div class="search-result-header">
                    <h6 class="title"><span id="result-count">0</span> Kết quả tìm thấy</h6>
                    <a href="products" class="view-all">Xem tất cả</a>
                </div>
                <div class="search-results">
                    <!-- Dynamic search result items should go here -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Search Modal -->
</header>

<!-- Main Content Section -->
<main class="main-wrapper" th:fragment="content">
    <!-- Content will be replaced in child templates -->
</main>

<!-- Footer Section -->
<footer class="axil-footer-area footer-style-2" th:fragment="footer">
    <!-- Services -->
    <div class="service-area">
        <div class="container">
            <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img th:src="@{/images/icons/service1.png}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Giao hàng nhanh chóng và an toàn</h6>
                            <p>Hãy kể về dịch vụ của bạn.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img th:src="@{/images/icons/service2.png}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Đảm bảo hoàn tiền</h6>
                            <p>Trong vòng 10 ngày.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img th:src="@{/images/icons/service3.png}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Chính sách trả hàng trong vòng 24 giờ</h6>
                            <p>Không cần hỏi gì cả.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="service-box service-style-2">
                        <div class="icon">
                            <img th:src="@{/images/icons/service4.png}" alt="Service">
                        </div>
                        <div class="content">
                            <h6 class="title">Hỗ trợ chất lượng chuyên nghiệp</h6>
                            <p>Hỗ trợ trực tiếp 24/7.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top separator-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Support</h5>
                        <div class="inner">
                            <p>Đại học FPT, Khu Công Nghệ Cao Hòa Lạc, Km29 Đại lộ Thăng Long, Thạch Hoà, Thạch Thất, Hà
                                Nội 13100</p>
                            <ul class="support-list-item">
                                <li><a href="hungdphe170721@fpt.edu.vn"><i class="fal fa-envelope-open"></i>
                                    hungdphe170721@fpt.edu.vn</a></li>
                                <li><a href="tel:(+94)850-315-5862"><i class="fal fa-phone-alt"></i> (+84) 850-315-5862</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Tài khoản</h5>
                        <div class="inner">
                            <ul>
                                <li><a href="/my-account">Tài khoản của tôi</a></li>
                                <li><a href="/sign-up">Đăng nhập / Đăng ký</a></li>
                                <li><a href="/cart-items">Giỏ hàng</a></li>
                                <li><a href="/wishlist">Danh sách yêu thích</a></li>
                                <li><a href="/product-list">Danh sách sản phẩm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript Files -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>