<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/flaticon/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/sal.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style-2.css}" type="text/css">
</head>
<body class="sticky-header">

<!-- Include Header Fragment -->
<div th:replace="base :: header"></div>

<!-- Main Content Section -->
<main class="main-wrapper" th:fragment="content">

    <!-- Start Checkout Area  -->
    <div class="axil-checkout-area axil-section-gap">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="axil-checkout-billing">
                            <h4 class="title mb--40">Chi tiết thanh toán</h4>
                            <div class="form-group">
                                <label>Họ tên <span>*</span></label>
                                <input type="text" id="fullname">
                            </div>
                            <div class="form-group">
                                <label>Điện thoại <span>*</span></label>
                                <input type="tel" id="phone">
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ Email <span>*</span></label>
                                <input type="email" id="email">
                            </div>
                            <h4 class="title mb--40">Địa chỉ giao hàng</h4>
                            <div class="form-group">
                                <label>Quốc gia <span>*</span></label>
                                <select id="Region">
                                    <option value="3">Việt Nam</option>
                                    <option value="4">Nhật Bản</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ chi tiết <span>*</span></label>
                                <input type="text" id="new-address" class="mb--15">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="axil-order-summery order-checkout-summery">
                            <h5 class="title mb--20">Đơn hàng của bạn</h5>
                            <div class="summery-table-wrap">
                                <table class="table summery-table">
                                    <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Giá</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item : ${cartItems}">
                                        <td>
                                            <img th:src="${productImages[item.productId.productId]}" alt="Product Image" height="100" width="100" />
                                            <span th:text="${item.productId.productName}"></span> x<span th:text="${item.quantity}"></span>
                                        </td>
                                        <td th:text="${item.price}">Price</td>
                                    </tr>
                                    <tr class="order-total">
                                        <td>Tổng</td>
                                        <td th:text="${totalPrice}" class="order-total-amount"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h5 class="title mb--20">Phương thức thanh toán</h5>
                            <div class="order-payment-method">
                                <div class="single-payment">
                                    <div class="input-group">
                                        <input type="radio" id="walletPayment" name="paymentMethod" value="Wallet" required>
                                        <label for="walletPayment">Thanh toán bằng ví</label>
                                    </div>
                                    <p>Thanh toán trực tiếp từ ví của bạn.</p>
                                </div>
                                <div class="single-payment">
                                    <div class="input-group justify-content-between align-items-center">
                                        <input type="radio" id="onlinePayment" name="paymentMethod" value="Online">
                                        <label for="onlinePayment">Thanh toán online</label>
                                    </div>
                                    <p>Thanh toán qua ngân hàng hoặc thẻ tín dụng.</p>
                                </div>
                                <div class="single-payment">
                                    <div class="input-group justify-content-between align-items-center">
                                        <input type="radio" id="codPayment" name="paymentMethod" value="Cash on Delivery">
                                        <label for="codPayment">Thanh toán khi nhận hàng</label>
                                    </div>
                                    <p>Trả tiền mặt khi nhận hàng.</p>
                                </div>
                            </div>
                            <button type="submit" class="axil-btn btn-bg-primary checkout-btn">Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Checkout Area  -->
</main>

<!-- Include Footer Fragment -->
<div th:replace="base :: footer"></div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script th:src="@{/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>


<!-- Main JS -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>