<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${pageTitle} ?: 'Home Page'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Including CSS Files from base.html -->
    <th:block th:replace="~{base :: head}"></th:block>
    <style>
        .confirmation-container {
            margin: 60px auto;
            text-align: center;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
        }

        .confirmation-container h2 {
            color: #4CAF50;
        }

        .order-summary {
            margin-top: 20px;
            text-align: left;
            margin-left: 35%;
        }

        .order-summary th, .order-summary td {
            padding: 10px;
        }
    </style>
</head>

<body class="sticky-header newsletter-popup-modal">

<!-- Include Header Fragment -->
<div th:replace="base :: header"></div>

<!-- Main Content Section -->
<main class="main-wrapper">
    <div class="confirmation-container">
        <h2 th:text="#{confirmation.thankyou}">Cảm ơn vì bạn đã mua hàng!</h2>
        <p th:text="#{confirmation.successful}">Đã tạo đơn thành công.</p>
        <span th:text="#{confirmation.orderCode}">Mã đơn hàng là: </span><span th:text="${order.orderCode}"></span>

        <div class="order-summary">
            <h3 th:text="#{confirmation.orderDetails}">Thông tin đơn hàng</h3>
            <table>
                <tr>
                    <th th:text="#{confirmation.totalPrice}">Tổng giá:</th>
                    <td th:text="${order.getPriceFormated()}"></td>
                </tr>
                <tr>
                    <th th:text="#{confirmation.orderDate}">Ngày tạo đơn:</th>
                    <td th:text="${order.orderDate}"></td>
                </tr>
                <tr>
                    <th th:text="#{confirmation.status}">Trạng thái:</th>
                    <td th:switch="${order.shippingStatus[0].status}">
                        <th:block th:case="'Pending'" th:text="#{confirmation.pending}">Pending</th:block>
                        <th:block th:case="'Confirmed'" th:text="#{confirmation.confirmed}">Confirmed</th:block>
                        <th:block th:case="'Processing'" th:text="#{confirmation.processing}">Processing</th:block>
                        <th:block th:case="'Dispatched'" th:text="#{confirmation.dispatched}">Dispatched</th:block>
                        <th:block th:case="'Shipping'" th:text="#{confirmation.shipping}">Shipping</th:block>
                        <th:block th:case="'Delivered'" th:text="#{confirmation.delivered}">Delivered</th:block>
                        <th:block th:case="'Completed'" th:text="#{confirmation.completed}">Completed</th:block>
                        <th:block th:case="'Failed'" th:text="#{confirmation.failed}">Failed</th:block>
                        <th:block th:case="'Returned'" th:text="#{confirmation.returned}">Returned</th:block>
                        <th:block th:case="'Cancelled'" th:text="#{confirmation.cancelled}">Cancelled</th:block>
                        <th:block th:case="*">[[${order.shippingStatus[0].status}]]</th:block>
                    </td>
                </tr>
            </table>
        </div>
        <a href="/orders" class="axil-btn btn-bg-primary" th:text="#{confirmation.viewOrders}">Xem đơn hàng</a>
    </div>
</main>

<!-- Include Footer Fragment -->
<div th:replace="base :: footer"></div>

<!-- JS
============================================ -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>