<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/sal.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/style-2.css}">

</head>


<body>
<div class="axil-signin-area">

    <!-- Start Header -->
    <!--    <div class="signin-header">-->
    <!--        <div class="row align-items-center">-->
    <!--            <div class="col-xl-4 col-sm-6">-->
    <!--                <a href="/homepage" class="site-logo"><img th:src="@{/images/logo/vj-market.png}" alt="logo"></a>-->
    <!--            </div>-->
    <!--            <div class="col-md-2 d-lg-block d-none">-->
    <!--&lt;!&ndash;                <a href="sign-in.html" class="back-btn"><i class="far fa-angle-left"></i></a>&ndash;&gt;-->
    <!--            </div>-->
    <!--            <div class="col-xl-6 col-lg-4 col-sm-6">-->
    <!--                <div class="singin-header-btn">-->
    <!--                    <p>Already a member?</p>-->
    <!--                    <a href="/sign-in" class="sign-up-btn axil-btn btn-bg-secondary">Sign In</a>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- End Header -->

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                <a href="/homepage" class="site-logo"><img th:src="@{/images/logo/vj-market.png}" alt="logo"></a>
                <br><br>
                <h3 class="title" th:text="#{otp.page.title}">Chúng tôi cung cấp những sản phẩm tốt nhất</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="title" th:text="#{forgot.password.title}">Quên mật khẩu?</h3>
                    <p class="b2 mb--55" th:text="#{forgot.password.instructions}">Nhập địa chỉ email bạn đã sử dụng khi
                        tham gia và chúng tôi sẽ gửi cho bạn
                        hướng dẫn đặt lại mật khẩu.</p>
                    <!-- Start form to submit to backend -->
                    <form class="singin-form" method="post" th:action="@{/forgot-password}">
                        <div th:if="${errorMessage}" class="error-message">
                            <p th:text="${errorMessage}"></p>
                        </div>
                        <div th:if="${successMessage}" class="success-message">
                            <p th:text="${successMessage}"></p>
                        </div>
                        <br>
                        <div class="form-group">
                            <label th:text="#{email.label}">Email <span>*</span></label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn"
                                    th:text="#{forgot.password.submit}">Gửi hướng dẫn thiết lập lại
                            </button>
                        </div>
                        <a href="/sign-in" class="sign-up-btn axil-btn btn-bg-secondary" th:text="#{sign.in}">Đăng
                            nhập</a>
                    </form>
                    <!-- End form -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script th:src="@{/static/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script th:src="@{/static/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/static/js/vendor/popper.min.js}"></script>
<script th:src="@{/static/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/static/js/vendor/slick.min.js}"></script>
<script th:src="@{/static/js/vendor/js.cookie.js}"></script>
<!-- <script th:src="@{/assets/js/vendor/jquery.style.switcher.js}"></script> -->
<script th:src="@{/static/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/static/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/static/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/static/js/vendor/sal.js}"></script>
<script th:src="@{/static/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/static/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/static/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/static/js/vendor/counterup.js}"></script>
<script th:src="@{/static/js/vendor/waypoints.min.js}"></script>

<!-- Main JS -->
<script th:src="@{/static/js/main.js}"></script>
<script th:src="@{/static/js/script.js}"></script>

</body>


<!-- Mirrored from new.axilthemes.com/demo/template/etrade/forgot-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 11 Sep 2024 10:15:17 GMT -->
</html>