<head th:tempale>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home Page</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/images/favicon.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/flaticon/flaticon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/sal.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/magnific-popup.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vendor/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style-2.css}" type="text/css">

</head>