<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${pageTitle} ?: 'Home Page'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Including CSS Files from base.html -->
    <th:block th:replace="~{base :: head}"></th:block>
</head>

<body class="sticky-header newsletter-popup-modal">

<!-- Include Header Fragment -->
<div th:replace="base :: header"></div>

<!-- Main Content Section -->
<main class="main-wrapper" th:fragment="content">
    <!-- Start Categorie Area -->
    <div class="axil-categorie-area bg-color-white axil-section-gapcommon">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-secondary"><i class="far fa-tags"></i> Categories</span>
                <h2 class="title">Browse by Category</h2>
            </div>
            <ul class="categories-list">
                <li th:each="category : ${categories}" class="category-item">
                    <div class="categrie-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                        <div class="slick-single-layout">
                            <div class="categrie-product" data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500">
                                <a th:href="@{/products(categoryId=${category.categoryId})}">
                                    <img class="img-fluid" th:src="@{${category.categoryImage}}" alt="Category Image">
                                    <h6 class="cat-title" th:text="${category.categoryName}"></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Categorie Area -->

    <!-- Start Store Area  -->
    <div class="axil-store-area bg-color-white axil-section-gap">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary">Our Stores</span>
                <h2 class="title">Explore Our Top Stores</h2>
            </div>

            <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 row--20">
                <!-- Store Item 1 -->
                <div class="col">
                    <div class="axil-store-box">
                        <div class="thumbnail">
                            <a href="store-detail.html">
                                <img src="../static/images/store/store-01.jpg" alt="Store Image">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="store-detail.html">Tên cửa hàng</a></h6>
                            <span class="title">Danh mục bán</span>
                            <div class="title">
                                <span>Tổng sản phẩm: 1,500</span><br>
                                <span>Đã bán: 1,200</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Store Item 2 -->
                <div class="col">
                    <div class="axil-store-box">
                        <div class="thumbnail">
                            <a href="store-detail.html">
                                <img src="../static/images/store/store-01.jpg" alt="Store Image">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="store-detail.html">Tên cửa hàng</a></h6>
                            <span class="title">Danh mục bán</span>
                            <div class="title">
                                <span>Tổng sản phẩm: 1,500</span><br>
                                <span>Đã bán: 1,200</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Store Item 3 -->
                <div class="col">
                    <div class="axil-store-box">
                        <div class="thumbnail">
                            <a href="store-detail.html">
                                <img src="../static/images/store/store-01.jpg" alt="Store Image">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="store-detail.html">Tên cửa hàng</a></h6>
                            <span class="title">Danh mục bán</span>
                            <div class="title">
                                <span>Tổng sản phẩm: 1,500</span><br>
                                <span>Đã bán: 1,200</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Store Item 4 -->
                <div class="col">
                    <div class="axil-store-box">
                        <div class="thumbnail">
                            <a href="store-detail.html">
                                <img src="../static/images/store/store-01.jpg" alt="Store Image">
                            </a>
                        </div>
                        <div class="content">
                            <h6 class="title"><a href="store-detail.html">Tên cửa hàng</a></h6>
                            <span class="title">Danh mục bán</span>
                            <div class="title">
                                <span>Tổng sản phẩm: 1,500</span><br>
                                <span>Đã bán: 1,200</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center mt--30">
                    <a href="store-list.html" class="axil-btn btn-bg-lighter btn-load-more">Xem thêm cửa hàng</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Store Area  -->

    <!-- Start Explore Product Area -->
    <div class="axil-product-area bg-color-white axil-section-gap">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary"> <i class="far fa-shopping-basket"></i> Our Products</span>
                <h2 class="title">Explore our Products</h2>
            </div>
            <div class="row row--15">
                <div th:each="product : ${productDetails}" class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="axil-product product-style-one has-color-pick mt--40">
                        <div class="thumbnail">
                            <a href="product-detail">
                                <img th:src="@{${product.thumbnail}}" alt="Product Images">
                            </a>
                            <div class="product-hover-action">
                                <ul class="cart-action">
                                    <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                    <li class="select-option"><a href="cart-detail.html">Add to Cart</a></li>
                                    <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                             th:attr="data-bs-target=${'#quick-view-modal-' + product.productId}"><i
                                            class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="inner">
                                <h5 class="title" th:text="${product.productName}"></h5>
                                <div class="product-price-variant">
                                    <span class="price current-price" th:text="'$' + ${product.price}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center mt--20 mt_sm--0">
                    <a href="product-list" class="axil-btn btn-bg-lighter btn-load-more">View All Products</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Explore Product Area -->

    <!-- Start New Arrivals Product Area -->
    <div class="axil-new-arrivals-product-area bg-color-white axil-section-gap pb--0">
        <div class="container">
            <div class="product-area pb--50">
                <div class="section-title-wrapper">
                    <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i>This Week’s</span>
                    <h2 class="title">New Arrivals</h2>
                </div>
                <div class="new-arrivals-product-activation slick-layout-wrapper--30 axil-slick-arrow arrow-top-slide">
                    <div class="slick-single-layout" th:each="product : ${newArrivals}">
                        <div class="axil-product product-style-two">
                            <div class="thumbnail">
                                <a href="product-detail">
                                    <img data-sal="zoom-out" data-sal-delay="200" data-sal-duration="500" th:src="@{${product.image}}" alt="Product Images">
                                </a>
                                <div class="label-block label-right">
                                    <div class="product-badget" th:text="${product.discount} + '% OFF'"></div>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="inner">
                                    <h5 class="title" th:text="${product.productName}"><a href="product-detail"></a></h5>
                                    <div class="product-price-variant">
                                        <span class="price old-price" th:text="'$' + ${product.oldPrice}"></span>
                                        <span class="price current-price" th:text="'$' + ${product.price}"></span>
                                    </div>
                                    <div class="product-hover-action">
                                        <ul class="cart-action">
                                            <li class="quickview"><a href="#" data-bs-toggle="modal" data-bs-target="#quick-view-modal"><i class="far fa-eye"></i></a></li>
                                            <li class="select-option"><a href="product-detail">Add to Cart</a></li>
                                            <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End New Arrivals Product Area -->
    
    <!-- Product Quick View Modal -->
    <div th:each="product : ${products}" class="modal fade quick-view-product"
         th:attr="id=${'quick-view-modal-' + product.productId}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                            class="far fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <div class="single-product-thumb">
                        <div class="row">
                            <div class="col-lg-7 mb--40">
                                <div class="row">
                                    <div class="col-lg-10 order-lg-2">
                                        <div class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery">
                                            <div class="thumbnail" th:each="pv : ${product.productVariations}">
                                                <img th:src="@{${pv.imageId.thumbnail}}" alt="Product Image" style="width: 400px; height: 300px;">
                                                <div class="product-quick-view position-view">
                                                    <a th:src="@{${pv.imageId.thumbnail}}" class="popup-zoom">
                                                        <i class="far fa-search-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 order-lg-1">
                                        <div class="product-small-thumb small-thumb-wrapper">
                                            <div class="small-thumb-img" th:each="pv : ${product.productVariations}">
                                                <img th:src="@{${pv.imageId.thumbnail}}"
                                                     alt="thumb image"
                                                     style="width: 69px; height: 42px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 mb--40">
                                <div class="single-product-content">
                                    <div class="inner">
                                        <div class="product-rating">
                                            <div class="star-rating">
                                                <img th:src="@{/images/icons/rate.png}" alt="Rate Images">
                                            </div>
                                            <div class="review-link">
                                                <a href="#">(<span>1</span> customer reviews)</a>
                                            </div>
                                        </div>
                                        <h3 class="product-title" th:text="${product.productName}"></h3>
                                        <span class="price-amount" th:text="${'$' + product.price}"></span>
                                        <ul class="product-meta">
                                            <li><i class="fal fa-check"></i>In stock</li>
                                            <li><i class="fal fa-check"></i>Free delivery available</li>
                                            <li><i class="fal fa-check"></i>Sales 30% Off Use Code: MOTIVE30</li>
                                        </ul>
                                        <p class="description" th:text="${product.productDescription}"></p>
                                        <div class="product-variations-wrapper">
                                            <div class="product-variation">
                                                <h6 class="title">Colors:</h6>
                                                <div class="color-variant-wrapper">
                                                    <ul class="color-variant mt--0">
                                                        <li th:class="${'color-extra-0' + (iter.index + 1) + (iter.first ? ' active' : '')}"
                                                            th:each="pv,iter : ${product.productVariations}">
                                                    <span><span class="color"
                                                                th:style="${'background: ' + pv.color.colorName}"></span></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-variation">
                                                <h6 class="title">Size:</h6>
                                                <ul class="range-variant">
                                                    <li th:each="pv : ${product.productVariations}"
                                                        th:text="${pv.size.sizeName}"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Include Footer Fragment -->
<div th:replace="base :: footer"></div>

<!-- JS
============================================ -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>