<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${pageTitle} ?: 'My Orders'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="~{base :: head}"></th:block>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

</head>

<body class="sticky-header">

<!-- Include Header Fragment -->
<div th:replace="base :: header"></div>

<!-- Main Content Section -->
<main class="main-wrapper">
    <!-- Start My Account Area  -->
    <div class="axil-dashboard-area axil-section-gap">
        <div class="container">
            <div class="axil-dashboard-warp">
                <!-- Dashboard Sidebar and Content Container -->
                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-xl-3 col-md-4">
                        <aside th:insert="~{sidebar :: sidebar}">
                        </aside>
                    </div>
                    <!-- Dashboard Content -->
                    <div class="col-xl-9 col-md-8">
                        <div class="tab-content">
                            <!-- Orders Tab -->
                            <div class="tab-pane fade show active" id="nav-orders" role="tabpanel">
                                <div class="axil-dashboard-order" >
                                    <div class="table-responsive" th:if="${message == null}">
                                        <table class="table table-bordered" id="sampleTable">
                                            <thead>
                                            <tr>
                                                <th>Tiêu đề</th>
                                                <th>Nội dung</th>
                                                <th>Ngày tạo</th>
                                                <th>Hành động</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:style="${notification.read ? '' : 'background-color: #9dc5d5'}"
                                                th:each="notification : ${notifications}">
                                                <td th:text="${notification.title}">Notification Title</td>
                                                <td th:text="${notification.content}">Notification Content</td>
                                                <td th:text="${#temporals.format(notification.created, 'MM/dd/yyyy HH:mm')}">
                                                    Created Date
                                                </td>
                                                <td>
                                                    <form th:action="@{/notification/read}" method="post">
                                                        <input type="hidden" name="notificationId"
                                                               th:value="${notification.notificationId}"/>
                                                        <span
                                                                th:attr="onclick=|window.location.href='${notification.url}'|"
                                                                class="btn btn-lg btn-outline-success">
                                                            <i class="fa fa-eye"></i></span>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Message when no orders -->
                                    <div th:if="${message}" class="text-center">
                                        <p th:text="${message}"></p>
                                        <a th:href="${productListLink}" class="axil-btn">Mua ngay</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- End of tab-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Include Footer Fragment -->
<div th:replace="base :: footer"></div>

<!-- JS
============================================ -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#sampleTable').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            lengthChange: true,
            pageLength: 10,
        });
    });
</script>
</body>
</html>