<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Detail</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/sal.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/style-2.css}">
</head>

<body class="sticky-header">
<a href="#" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
<header class="header axil-header header-style-1">
    <!-- Header Top -->
    <div class="axil-header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="header-top-dropdown">
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">English
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Japanese</a></li>
                                <li><a class="dropdown-item" href="#">Vietnamese</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="header-top-link">
                        <ul class="quick-link">
                            <li><a href="sign-up.html">Join Us</a></li>
                            <li><a href="sign-in.html">Sign In</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu  -->
    <div id="axil-sticky-placeholder"></div>
    <div class="axil-mainmenu">
        <div class="container">
            <div class="header-navbar">
                <!-- Header Brand -->
                <div class="header-brand">
                    <a href="/" class="logo logo-dark">
                        <img th:src="@{/images/logo/vj-market.png}" alt="Site Logo">
                    </a>
                </div>
                <!-- Header Main Nav -->
                <div class="header-main-nav">
                    <nav class="mainmenu-nav">
                        <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                        <div class="mobile-nav-brand">
                            <a href="homepage.html" class="logo">
                                <img th:src="@{/images/logo/vj-market.png}" alt="Site Logo">
                            </a>
                        </div>
                        <ul class="mainmenu">
                            <li>
                                <img th:src="@{/images/logo/baner.png}" alt="">
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- Header Actions -->
                <div class="header-action">
                    <ul class="action-list">
                        <!-- Action Search -->
                        <li class="axil-search">
                            <a href="javascript:void(0)" class="header-search-icon" title="Search">
                                <i class="flaticon-magnifying-glass"></i>
                            </a>
                        </li>
                        <!-- Action Wishlist -->
                        <li class="wishlist">
                            <a href="wishlist.html">
                                <i class="flaticon-heart"></i>
                            </a>
                        </li>
                        <!-- Action Notification -->
                        <li class="notification">
                            <a href="my-account.html" class="notification-dropdown-btn">
                                <i class="flaticon-envelope"></i>
                                <span class="notification-count"></span>
                            </a>
                            <div id="notification-dropdown" class="notification-dropdown">
                                <div class="notification-content-wrap">
                                    <div class="notification-header">
                                        <p>New notifications</p>
                                    </div>
                                    <div class="notification-body">
                                        <div class="notification-item">
                                            <div class="item-icon">
                                                <img th:src="@{/images/product/categories/beauty.png}"
                                                     alt="Notification Icon">
                                            </div>
                                            <div class="item-content">
                                                <h3 class="item-title">New message from John</h3>
                                                <p class="item-text">Hey, how's it going?</p>
                                                <span class="item-time">2 minutes ago</span>
                                            </div>
                                        </div>
                                        <div class="notification-item">
                                            <div class="item-icon">
                                                <img th:src="@{/images/product/categories/toys.png}"
                                                     alt="Notification Icon">
                                            </div>
                                            <div class="item-content">
                                                <h3 class="item-title">New message from John</h3>
                                                <p class="item-text">Hey, how's it going?</p>
                                                <span class="item-time">2 minutes ago</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="notification-footer">
                                        <a href="my-account.html">View All Notifications</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- Action Cart -->
                        <li class="shopping-cart">
                            <a href="#" class="cart-dropdown-btn">
                                <span class="cart-count">3</span>
                                <i class="flaticon-shopping-cart"></i>
                            </a>
                        </li>
                        <!-- Action Account -->
                        <li class="my-account">
                            <a href="javascript:void(0)">
                                <i class="flaticon-person"></i>
                            </a>
                            <div class="my-account-dropdown">
                                <span class="title">QUICKLINKS</span>
                                <ul>
                                    <li>
                                        <a href="/my-account">My Account</a>
                                    </li>
                                    <li>
                                        <a href="order.html">My Orders</a>
                                    </li>
                                </ul>
                                <div class="login-btn">
                                    <a href="sign-in.html" class="axil-btn btn-bg-primary">Login</a>
                                </div>
                                <div class="reg-footer text-center">
                                    No account yet? <a href="sign-up.html" class="btn-link">REGISTER HERE.</a>
                                </div>
                            </div>
                        </li>
                        <!-- Action Mobile Toggle -->
                        <li class="axil-mobile-toggle">
                            <button class="menu-btn mobile-nav-toggler">
                                <i class="flaticon-menu-2"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Modal -->
    <div class="header-search-modal" id="header-search-modal">
        <button class="card-close sidebar-close"><i class="fas fa-times"></i></button>
        <div class="header-search-wrap">
            <div class="card-header">
                <form action="#">
                    <div class="input-group">
                        <label>
                            <input type="search" class="form-control" name="prod-search" id="prod-search"
                                   placeholder="Write Something....">
                        </label>
                        <button type="submit" class="axil-btn btn-bg-primary"><i class="far fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="search-result-header">
                    <h6 class="title">24 Result Found</h6>
                    <a href="product-list.html" class="view-all">View All</a>
                </div>
                <div class="psearch-results">
                    <div class="axil-product-list">
                        <div class="thumbnail">
                            <a href="product-detail">
                                <img th:src="@{/images/product/categories/toys.png}" width="100px"
                                     alt="Yantiti Leather Bags">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                <span class="rating-icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fal fa-star"></i>
                            </span>
                                <span class="rating-number"><span>100+</span> Reviews</span>
                            </div>
                            <h6 class="product-title"><a href="product-detail">Media Remote</a></h6>
                            <div class="product-price-variant">
                                <span class="price current-price">$29.99</span>
                                <span class="price old-price">$49.99</span>
                            </div>
                            <div class="product-cart">
                                <a href="cart-detail.html" class="cart-btn"><i class="fal fa-shopping-cart"></i></a>
                                <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="axil-product-list">
                        <div class="thumbnail">
                            <a href="product-detail">
                                <img th:src="@{/images/product/categories/fashion.png}" width="100px"
                                     alt="Yantiti Leather Bags">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="product-rating">
                                <span class="rating-icon">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fal fa-star"></i>
                            </span>
                                <span class="rating-number"><span>100+</span> Reviews</span>
                            </div>
                            <h6 class="product-title"><a href="product-detail">Media Remote</a></h6>
                            <div class="product-price-variant">
                                <span class="price current-price">$29.99</span>
                                <span class="price old-price">$49.99</span>
                            </div>
                            <div class="product-cart">
                                <a href="cart-detail.html" class="cart-btn"><i class="fal fa-shopping-cart"></i></a>
                                <a href="wishlist.html" class="cart-btn"><i class="fal fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart Modal -->
    <div class="cart-dropdown" id="cart-dropdown">
        <div class="cart-content-wrap">
            <div class="cart-header">
                <h2 class="header-title">Cart review</h2>
                <button class="cart-close sidebar-close"><i class="fas fa-times"></i></button>
            </div>
            <div class="cart-body">
                <ul class="cart-item-list">
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="product-detail"><img th:src="@{/images/product/categories/toys.png}"
                                                          alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</span>
                                <span class="rating-number">(64)</span>
                            </div>
                            <h3 class="item-title"><a href="product-detail">Wireless PS Handler</a></h3>
                            <div class="item-price"><span class="currency-symbol">$</span>155.00</div>
                            <div class="pro-qty item-quantity">
                                <label>
                                    <input type="number" class="quantity-input" value="15">
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="product-detail"><img th:src="@{/images/product/categories/electronic.png}"
                                                          alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</span>
                                <span class="rating-number">(4)</span>
                            </div>
                            <h3 class="item-title"><a href="product-detail">Gradient Light Keyboard</a></h3>
                            <div class="item-price"><span class="currency-symbol">$</span>255.00</div>
                            <div class="pro-qty item-quantity">
                                <label>
                                    <input type="number" class="quantity-input" value="5">
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="item-img">
                            <a href="product-detail"><img
                                    th:src="@{/images/product/categories/limited-product.png}"
                                    alt="Commodo Blown Lamp"></a>
                            <button class="close-btn"><i class="fas fa-times"></i></button>
                        </div>
                        <div class="item-content">
                            <div class="product-rating">
                                <span class="icon">
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
								<i class="fas fa-star"></i>
							</span>
                                <span class="rating-number">(6)</span>
                            </div>
                            <h3 class="item-title"><a href="product-detail">HD CC Camera</a></h3>
                            <div class="item-price"><span class="currency-symbol">$</span>200.00</div>
                            <div class="pro-qty item-quantity">
                                <label>
                                    <input type="number" class="quantity-input" value="100">
                                </label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cart-footer">
                <h3 class="cart-subtotal">
                    <span class="subtotal-title">Subtotal:</span>
                    <span class="subtotal-amount">$610.00</span>
                </h3>
                <div class="group-btn">
                    <a href="cart-detail.html" class="axil-btn btn-bg-primary viewcart-btn">View Cart</a>
                    <a href="checkout.html" class="axil-btn btn-bg-secondary checkout-btn">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main-wrapper">
    <div class="axil-single-product-area bg-color-white">
        <!-- Product Detail  -->
        <div class="single-product-thumb axil-section-gap pb--30 pb_sm--20">
            <div class="container">
                <div class="row row--50">
                    <!-- Product Large Image  -->
                    <div class="col-lg-6 mb--40">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-large-thumbnail-2 single-product-thumbnail axil-product slick-layout-wrapper--15 axil-slick-arrow arrow-both-side-3">
                                    <div class="thumbnail" th:each="pv : ${product.productVariations}">
                                        <img th:src="@{${pv.imageId.thumbnail}}" alt="Product Images">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="small-thumb-wrapper product-small-thumb-2 small-thumb-style-two small-thumb-style-three">
                                    <div class="small-thumb-img" th:each="pv : ${product.productVariations}">
                                        <img th:src="@{${pv.imageId.thumbnail}}" alt="Product Images"
                                             style="width: 50px !important; height: 50px !important;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Info  -->
                    <div class="col-lg-6 mb--40">
                        <div class="single-product-content">
                            <div class="inner">
                                <h2 class="product-title" th:text="${product.productName}"></h2>
                                <span class="price-amount" th:text="${'$' + product.price}"></span>
                                <div class="product-rating">
                                    <div class="star-rating" th:if="${feedbacks.size() > 0}">
                                        <i th:class="${'fas fa-star' + (r > averageRating ? ' empty-rating' : '')}"
                                           th:each="r : ${#numbers.sequence(1, 5)}"></i>
                                    </div>
                                    <div class="review-link">
                                        <a href="#">(<span th:text="${feedbacks.size()}"></span> customer reviews)</a>
                                    </div>
                                </div>
                                <div class="product-variations-wrapper">
                                    <div class="product-variation">
                                        <h6 class="title">Colors:</h6>
                                        <div class="color-variant-wrapper">
                                            <ul class="color-variant">
                                                <li th:class="${'color-extra-0' + (iter.index + 1) + (iter.first ? ' active' : '')}"
                                                    th:each="pv,iter : ${product.productVariations}">
                                                    <span><span class="color"
                                                                th:style="${'background: ' + pv.color.colorName}"></span></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-variation product-size-variation">
                                        <h6 class="title">Size:</h6>
                                        <ul class="range-variant">
                                            <li th:each="pv : ${product.productVariations}"
                                                th:text="${pv.size.sizeName}">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-action-wrapper d-flex-center">
                                    <div class="pro-qty"><input type="text" value="1"></div>
                                    <ul class="product-action d-flex-center mb--0">
                                        <li class="add-to-cart">
                                            <a href="cart-detail.html" class="axil-btn btn-bg-primary">Add to Cart</a>
                                        </li>
                                        <li class="wishlist">
                                            <a href="wishlist.html" class="axil-btn wishlist-btn">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Store Detail  -->
        <div class="axil-breadcrumb-area">
            <div class="container">
                <div class="axil-dashboard-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#"><img th:src="@{${product.storeId.pictureUrl}}"
                                             alt="Hello Annie"
                                             class="author-image"></a>
                        </div>
                        <div class="media-body-1">
                            <div class="info-row">
                                <span class="name"><h3 style="margin-bottom: 8px;" th:text="${product.storeId.storeName}"></h3></span>
                                <span class="joining-date">Register Since Sep 2020</span>
                                <span class="email">Email: annie@example.com</span>
                            </div>
                            <div class="info-row">
                                <a href="#"><i class="flaticon-chat hover-flip-item"> Chat with shop</i></a>
                                <span class="address">Address: 123 Street Name</span>
                                <a th:href="@{/view-store/{id}(id=${product.storeId.storeId})}"><i
                                        class="flaticon-shop hover-flip-item"> View Shop</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Description & Review  -->
        <div class="woocommerce-tabs wc-tabs-wrapper bg-vista-white">
            <div class="container">
                <div class="product-desc-wrapper mb--30 mb_sm--10">
                    <h4 class="mb--60 desc-heading">Description</h4>
                    <div class="row mb--15">
                        <div class="col-lg-12 mb--30">
                            <div class="single-desc">
                                <h5 class="title">Specifications:</h5>
                                <p th:text="${product.productDescription}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-wrapper">
                    <h4 class="mb--60">Reviews</h4>
                    <div class="row">
                        <div class="col-lg-12 mb--40">
                            <div class="axil-comment-area pro-desc-commnet-area">
                                <h5 class="title" th:text="${feedbacks.size() + ' Review for this product'}"></h5>
                                <ul class="comment-list" th:each="feedback : ${feedbacks}">
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="single-comment">
                                                <div class="comment-img">
                                                    <img th:src="@{/images/others/author1.png}"
                                                         alt="Author Images">
                                                </div>
                                                <div class="comment-inner">
                                                    <h6 class="commenter">
                                                        <a class="hover-flip-item-wrapper" href="#">
                                                                <span class="hover-flip-item">
                                                                    <span data-text="Cameron Williamson"
                                                                          th:text="${feedback.userId.firstName + ' ' + feedback.userId.lastName}"></span>
                                                                </span>
                                                        </a>
                                                        <span class="commenter-rating rating-four-star">
                                                                <a href="#" th:each="r : ${#numbers.sequence(1, 5)}"><i
                                                                        th:class="${'fas fa-star' + (r > feedback.rating ? ' empty-rating' : '')}"></i></a>
                                                        </span>
                                                    </h6>
                                                    <div class="comment-text">
                                                        <p th:text="${'“' + feedback.comment + '”'}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center pt--30">
                    <a href="#" class="axil-btn btn-bg-lighter btn-load-more">Load more</a>
                </div>
            </div>
        </div>
    </div>

    <!-- All product  -->
    <div class="axil-product-area bg-color-white axil-section-gap pb--50 pb_sm--30">
        <div class="container">
            <div class="section-title-wrapper">
                <span class="title-highlighter highlighter-primary"><i class="far fa-shopping-basket"></i> Your Recently</span>
                <h2 class="title">All products</h2>
            </div>
            <div class="recent-product-activation slick-layout-wrapper--15 axil-slick-arrow arrow-top-slide">
                <div class="slick-single-layout" th:each="p : ${allProducts}">
                    <div class="axil-product">
                        <div class="thumbnail">
                            <a th:href="@{/product-detail/{id}(id=${p.productId})}">
                                <img class="spi" th:src="@{${p.productVariations[0].imageId.thumbnail}}"
                                     alt="Product Images">
                            </a>
                            <div class="product-hover-action">
                                <ul class="cart-action">
                                    <li class="wishlist"><a href="wishlist.html"><i class="far fa-heart"></i></a></li>
                                    <li class="select-option"><a href="cart-detail.html">Add to Cart</a></li>
                                    <li class="quickview"><a href="#" data-bs-toggle="modal"
                                                             th:attr="data-bs-target=${'#quick-view-modal-' + p.productId}"><i
                                            class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="inner">
                                <h5 class="title"><a th:href="@{/product-detail/{id}(id=${p.productId})}"
                                                     th:text="${p.productName}"></a></h5>
                                <div class="product-price-variant">
                                    <span class="price current-price" th:text="'$' + ${p.price}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="service-area">
    <div class="container">
        <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service1.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Fast &amp; Secure Delivery</h6>
                        <p>Tell about your service.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service2.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Money Back Guarantee</h6>
                        <p>Within 10 days.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service3.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">24 Hour Return Policy</h6>
                        <p>No question ask.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service4.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Pro Quality Support</h6>
                        <p>24/7 Live support.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="axil-footer-area footer-style-2">
    <div class="footer-top separator-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Support</h5>
                        <div class="inner">
                            <p>685 Market Street, Las Vegas, LA 95820</p>
                            <ul class="support-list-item">
                                <li><a href="mailto:example@domain.com"><i class="fal fa-envelope-open"></i>
                                    example@domain.com</a></li>
                                <li><a href="tel:(+01)850-315-5862"><i class="fal fa-phone-alt"></i> (+01) 850-315-5862</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Account</h5>
                        <div class="inner">
                            <ul>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="sign-up.html">Login / Register</a></li>
                                <li><a href="cart-detail.html">Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="product-list.html">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Product Quick View Modal -->
<div th:each="p2 : ${allProducts}" class="modal fade quick-view-product"
     th:attr="id=${'quick-view-modal-' + p2.productId}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="far fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="single-product-thumb">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery">
                                        <div class="thumbnail" th:each="pv : ${p2.productVariations}">
                                            <img th:src="@{${pv.imageId.thumbnail}}" alt="Product Image" style="width: 400px; height: 300px;">
                                            <div class="product-quick-view position-view">
                                                <a th:src="@{${pv.imageId.thumbnail}}" class="popup-zoom">
                                                    <i class="far fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 order-lg-1">
                                    <div class="product-small-thumb small-thumb-wrapper">
                                        <div class="small-thumb-img" th:each="pv : ${p2.productVariations}">
                                            <img th:src="@{${pv.imageId.thumbnail}}"
                                                 alt="thumb image"
                                                 style="width: 69px; height: 42px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            <img th:src="@{/images/icons/rate.png}" alt="Rate Images">
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>1</span> customer reviews)</a>
                                        </div>
                                    </div>
                                    <h3 class="product-title" th:text="${p2.productName}"></h3>
                                    <span class="price-amount" th:text="${'$' + p2.price}"></span>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>In stock</li>
                                        <li><i class="fal fa-check"></i>Free delivery available</li>
                                        <li><i class="fal fa-check"></i>Sales 30% Off Use Code: MOTIVE30</li>
                                    </ul>
                                    <p class="description" th:text="${p2.productDescription}"></p>
                                    <div class="product-variations-wrapper">
                                        <div class="product-variation">
                                            <h6 class="title">Colors:</h6>
                                            <div class="color-variant-wrapper">
                                                <ul class="color-variant mt--0">
                                                    <li th:class="${'color-extra-0' + (iter.index + 1) + (iter.first ? ' active' : '')}"
                                                        th:each="pv,iter : ${p2.productVariations}">
                                                    <span><span class="color"
                                                                th:style="${'background: ' + pv.color.colorName}"></span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-variation">
                                            <h6 class="title">Size:</h6>
                                            <ul class="range-variant">
                                                <li th:each="pv : ${p2.productVariations}"
                                                    th:text="${pv.size.sizeName}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-action-wrapper d-flex-center">
                                        <div class="pro-qty">
                                            <label>
                                                <input type="text" value="1">
                                            </label>
                                        </div>
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart">
                                                <a href="cart-detail.html"
                                                   class="axil-btn btn-bg-primary">Add to Cart
                                                </a>
                                            </li>
                                            <li class="wishlist">
                                                <a href="wishlist.html"
                                                   class="axil-btn wishlist-btn"><i class="far fa-heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS
============================================ -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>

</html>