<div th:fragment="sidebar">
    <div class="row">
        <div>
            <aside class="axil-dashboard-aside">
                <nav class="axil-dashboard-nav">
                    <div class="nav nav-tabs" role="tablist">
                        <a class="nav-item nav-link" href="/my-account"
                           aria-selected="false"><i class="fas fa-user"></i>
                            <span th:text="#{sidebar.account.details}">Chi tiết tài khoản</span></a>
                        <a class="nav-item nav-link" th:if="${hasStore}" href="/seller/dashboard" aria-selected="false">
                            <i class="fas fa-store"></i>
                            <span th:text="#{sidebar.my.store}">Cửa hàng của tôi</span>
                        </a>
                        <a class="nav-item nav-link" th:unless="${hasStore}" aria-selected="false"
                           onclick="showSignupModal()">
                            <i class="fas fa-store"></i><span th:text="#{sidebar.my.store}">Cửa hàng của tôi</span>
                        </a>
                        <a class="nav-item nav-link" href="/orders"
                           aria-selected="false"><i class="fas fa-shopping-basket"></i>
                            <span th:text="#{sidebar.my.orders}">Đơn hàng của tôi</span>
                        </a>
                        <a class="nav-item nav-link" href="/wallet"
                           aria-selected="false"><i class="fas fa-wallet"></i>
                            <span th:text="#{sidebar.my.wallet}">Ví của tôi</span>
                        </a>
                        <a class="nav-item nav-link" href="/notification"
                           aria-selected="false"><i class="fas fa-bell"></i>
                            <span th:text="#{sidebar.notifications}">Thông báo</span>
                        </a>
                        <a class="nav-item nav-link" href="/change-password"
                           aria-selected="false"><i class="fas fa-key"></i>
                            <span th:text="#{sidebar.change.password}">Đổi mật khẩu</span>
                        </a>
                    </div>
                </nav>
            </aside>
        </div>
    </div>
    <script th:inline="javascript">
        function showSignupModal() {
            Swal.fire({
                title: /*[[#{signup.modal.title}]]*/,
                text: /*[[#{signup.modal.text}]]*/,
                icon: "info",
                showCancelButton: true,
                confirmButtonText: /*[[#{signup.modal.confirm}]]*/,
                cancelButtonText: /*[[#{signup.modal.cancel}]]*/,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/sign-up-seller';
                }
            });
        }
    </script>
</div>