<div th:fragment="sidebar">
    <div class="row">
        <div>
            <aside class="axil-dashboard-aside">
                <nav class="axil-dashboard-nav">
                    <div class="nav nav-tabs" role="tablist">
                        <a class="nav-item nav-link" href="/my-account"
                           aria-selected="false"><i class="fas fa-user"></i>Chi tiết tài khoản</a>
                        <a class="nav-item nav-link" th:if="${hasStore}" href="/seller/dashboard" aria-selected="false">
                            <i class="fas fa-store"></i>Cửa hàng của tôi
                        </a>
                        <a class="nav-item nav-link" th:unless="${hasStore}" href="#" aria-selected="false"
                           onclick="showSignupModal()">
                            <i class="fas fa-store"></i>Cửa hàng của tôi
                        </a>
                        <a class="nav-item nav-link" href="/orders"
                           aria-selected="false"><i class="fas fa-shopping-basket"></i>Đơn hàng của tôi</a>
                        <a class="nav-item nav-link" href="/wallet"
                           aria-selected="false"><i class="fas fa-wallet"></i>Ví của tôi</a>
<!--                        <a class="nav-item nav-link" href="/address"-->
<!--                           aria-selected="false"><i class="fas fa-home"></i>Addresses</a>-->
                        <a class="nav-item nav-link" href="/notification"
                           aria-selected="false"><i class="fas fa-bell"></i>Thông báo</a>
                    </div>
                </nav>
            </aside>
        </div>
    </div>
</div>