<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign In</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" th:type="@{image/x-icon}" th:href="@{/images/favicon.png}">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/sal.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/style-2.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .toggle-password {
            right: 10px;
            top: 35px;
            cursor: pointer;
        }

        .toggle-password i {
            color: #666;
        }
    </style>
</head>


<body>
<div class="axil-signin-area">
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--9">
                <a href="/homepage" class="site-logo"><img th:src="@{/images/logo/vj-market.png}" alt="logo"></a>
                <br><br>
                <h3 class="title" th:text="#{slogan.welcome}">Chúng tôi cung cấp những sản phẩm tốt nhất</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">

                    <p class="b2 mb--55" th:text="#{signin.enter.details}">Nhập thông tin chi tiết của bạn bên dưới</p>
                    <form th:action="@{/sign-in}" method="post" class="singin-form">
                        <!--                         Hiển thị thông báo lỗi nếu có-->
                        <!-- login.html -->
                        <div th:if="${param.logout}">
                            <p class="message" th:text="#{signin.logout.success}">Bạn đã đăng xuất thành công.</p>
                        </div>
                        <div th:if="${errorMessage}" class="error-message">
                            <p th:text="${errorMessage}"></p>
                        </div>
                        <div th:if="${successMessage}" class="success-message">
                            <p th:text="${successMessage}"></p>
                        </div>
                        <div th:if="${verificationSuccessMessage}" class="success-message">
                            <p th:text="${verificationSuccessMessage}"></p>
                        </div>
                        <div th:if="${banned}" class="success-message">
                            <p th:text="${banned}"></p>
                        </div>
                        <br>
                        <div th:if="${message != null}"
                             class="alert alert-dismissible"
                             th:classappend="${messageType == 'success'} ? 'alert-success' : 'alert-danger'">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <p th:text="${message}"></p>
                        </div>

                        <div class="form-group">
                            <label th:text="#{signin.email} + ' *'">Email <span>*</span></label>
                            <input type="email" class="form-control" name="email" th:placeholder="#{signin.email}" required>
                            <!--                            <input type="email" th:field="*{email}" class="form-control" id="email">-->
                        </div>
                        <div class="form-group position-relative">
                            <label th:text="#{signin.password} + ' *'">Mật khẩu <span>*</span></label>
                            <input type="password" class="form-control" name="password" th:placeholder="#{signin.password}" required>
                            <span class="toggle-password position-absolute" toggle="[name='password']">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between">
                            <button type="submit" class="axil-btn btn-bg-primary submit-btn" th:text="#{signin.login}">Đăng nhập</button>
                            <a href="/sign-up" class="axil-btn btn-bg-secondary sign-up-btn" th:text="#{signin.register}">Đăng ký ngay</a>
                        </div>
                        <a href="/forgot-password" class="forgot-btn" th:text="#{signin.forgot}">Quên mật khẩu?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<!-- jQuery JS -->
<script th:src="@{/js/vendor/jquery.js}"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<!-- <script src="assets/js/vendor/jquery.style.switcher.js"></script> -->
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>

<!-- Main JS -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>

</html>