<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${pageTitle} ?: 'Điều khoản'">Điều khoản</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Including CSS Files from base.html -->
    <th:block th:replace="~{base :: head}"></th:block>
</head>


<body class="sticky-header">

<div th:replace="base :: header"></div>

<main class="main-wrapper">
    <!-- Start Privacy Policy Area  -->
    <div class="axil-privacy-area axil-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="axil-privacy-policy">
                        <section>
                            <h4 class="title" th:text="#{terms.welcome}">Chào mừng bạn đến với Sàn Giao Dịch Thương Mại
                                Điện Tử VJM qua giao diện
                                website. Trước khi sử dụng Trang VJM hoặc tạo tài khoản VJM (“Tài Khoản”), vui lòng đọc
                                kỹ
                                các Điều Khoản Dịch Vụ dưới đây.</h4>


                            <h3 th:text="#{terms.section1.title}">1. ĐIỀU KHOẢN SỬ DỤNG</h3>
                            <p th:text="#{terms.section1.1}">1.1. Quyền được phép sử dụng Trang VJM và Dịch Vụ có hiệu
                                lực cho đến khi bị chấm dứt.
                                Quyền
                                được
                                phép sử dụng sẽ bị chấm dứt theo Điều Khoản Dịch Vụ này hoặc trường hợp Người Sử Dụng vi
                                phạm bất cứ điều khoản hoặc điều kiện nào được quy định tại Điều Khoản Dịch Vụ này.
                                Trong
                                trường hợp đó, VJM có thể chấm dứt việc sử dụng của Người Sử Dụng bằng cách thông báo
                                hoặc
                                không cần thông báo cho Người Sử Dụng.</p>
                            <p th:text="#{terms.section1.2}">1.2. Người Sử Dụng không được phép:</p>
                            <ul>
                                <li th:text="#{terms.prohibited1.2.item1}">Tải lên, đăng, truyền tải hoặc bằng cách khác
                                    công khai bất cứ Nội Dung nào trái
                                    pháp
                                    luật, có hại, đe dọa, lạm dụng, quấy rối, gây hoang mang, lo lắng, xuyên tạc, phỉ
                                    báng,
                                    xúc phạm, khiêu dâm, bôi nhọ, xâm phạm quyền riêng tư của người khác, gây căm phẫn,
                                    hoặc
                                    phân biệt chủng tộc, dân tộc hoặc bất kỳ nội dung không đúng đắn nào khác.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item2}">Vi phạm pháp luật, quyền lợi của bên thứ ba
                                    hoặc Chính Sách Cấm/Hạn Chế Sản Phẩm của
                                    VJM.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item3}">Đăng tải, truyền tin, hoặc bằng bất kỳ hình
                                    thức nào khác hiển thị bất kỳ Nội Dung
                                    nào
                                    có sự xuất hiện của người chưa thành niên hoặc sử dụng Dịch Vụ gây tổn hại cho người
                                    chưa thành niên dưới bất kỳ hình thức nào.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item4}">Sử dụng Dịch Vụ hoặc đăng tải Nội Dung để mạo
                                    danh bất kỳ cá nhân hoặc tổ chức nào,
                                    hoặc
                                    bằng cách nào khác xuyên tạc cá nhân hoặc tổ chức.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item5}">Giả mạo các tiêu đề hoặc bằng cách khác ngụy
                                    tạo các định dạng nhằm che giấu nguồn
                                    gốc
                                    của bất kỳ Nội Dung nào được truyền tải thông qua Dịch Vụ;
                                </li>
                                <li th:text="#{terms.prohibited1.2.item6}">Gỡ bỏ bất kỳ thông báo độc quyền nào từ Trang
                                    VJM
                                </li>
                                <li th:text="#{terms.prohibited1.2.item7}">Gây ra, chấp nhận hoặc ủy quyền cho việc sửa
                                    đổi, cấu thành các sản phẩm phái sinh,
                                    hoặc
                                    chuyển thể của Dịch Vụ mà không được sự cho phép rõ ràng của VJM.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item8}">Sử dụng Dịch Vụ phục vụ lợi ích của bất kỳ
                                    bên thứ ba nào hoặc bất kỳ hành vi nào
                                    không
                                    được chấp nhận theo Điều Khoản Dịch Vụ này.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item9}">Sử dụng Dịch Vụ hoặc đăng tải Nội Dung cho
                                    mục đích gian lận, không hợp lý, sai
                                    trái,
                                    gây hiểu nhầm hoặc gây nhầm lẫn.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item10}">Mở và/hoặc vận hành nhiều tài khoản người
                                    dùng khác nhau liên quan đến bất kỳ hành
                                    vi
                                    nào vi phạm điều khoản hoặc tinh thần của Điều Khoản Dịch Vụ này hoặc các quy định,
                                    Chính Sách VJM trong từng thời điểm.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item11}">Truy cập Trang VJM, mở tài khoản hoặc bằng
                                    cách khác truy cập tài khoản người dùng
                                    của
                                    mình thông qua bất kỳ phần mềm hoặc phần cứng không được chấp thuận hoặc
                                    không được cung cấp bởi VJM, bao gồm phần mềm giả lập, thiết bị giả lập, phần
                                    mềm tự
                                    động, phần mềm thay đổi thông tin thiết bị, hoặc bất kỳ phần mềm, thiết bị hoặc phần
                                    cứng nào khác nhằm mục đích thực hiện hành vi gian lận, lạm dụng các Chính Sách VJM
                                    hoặc
                                    có chức năng tương tự.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item12}">Chỉnh sửa giá của bất kỳ sản phẩm nào hoặc
                                    can thiệp vào danh mục hàng hóa của Người
                                    Sử
                                    Dụng khác.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item13}">Thực hiện bất kỳ hành động nào làm sai lệch
                                    hệ thống đánh giá hoặc tiếp nhận phản
                                    hồi
                                    của VJM.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item14}">Cố gắng chuyển đổi mã chương trình, đảo
                                    ngược kỹ thuật, tháo gỡ hoặc xâm nhập (hack)
                                    Dịch Vụ (hoặc bất cứ hợp phần nào theo đó); hoặc phá bỏ hoặc vượt qua bất kỳ công
                                    nghệ
                                    mã hóa hoặc biện pháp bảo mật nào được VJM áp dụng đối với các Dịch Vụ và/hoặc các
                                    dữ
                                    liệu được truyền tải, xử lý hoặc lưu trữ bởi VJM.
                                </li>
                                <li th:text="#{terms.prohibited1.2.item15}">Khai thác hoặc thu thập bất kỳ thông tin nào
                                    liên quan đến Tài Khoản của Người Sử
                                    Dụng
                                    khác, bao gồm bất kỳ thông tin hoạt động hoặc dữ liệu cá nhân nào.
                                </li>
                            </ul>
                            <p th:text="#{terms.section1.3}">1.3. Người Sử Dụng hiểu rằng các Nội Dung, dù được đăng
                                công khai hoặc truyền tải riêng
                                tư, là
                                hoàn toàn thuộc trách nhiệm của người đã tạo ra Nội Dung đó. Điều đó nghĩa là bạn, không
                                phải VJM, phải hoàn toàn chịu trách nhiệm đối với những Nội Dung mà bạn tải lên, đăng,
                                gửi
                                thư điện tử, chuyển tải hoặc bằng cách nào khác công khai trên Trang VJM. Người Sử Dụng
                                hiểu
                                rằng bằng cách sử dụng Trang VJM, bạn có thể gặp phải Nội Dung mà bạn cho là phản cảm,
                                không
                                đúng đắn hoặc chưa phù hợp. VJM sẽ không chịu trách nhiệm đối với Nội Dung, bao gồm lỗi
                                hoặc
                                thiếu sót liên quan đến Nội Dung, hoặc tổn thất hoặc thiệt hại xuất phát từ việc sử
                                dụng,
                                hoặc dựa trên, Nội Dung được đăng tải, gửi thư, chuyển tải hoặc bằng cách khác công bố
                                trên
                                Trang VJM.</p>
                            <p th:text="#{terms.section1.4}">1.4. Người Sử Dụng thừa nhận rằng VJM và các bên được chỉ
                                định của VJM có toàn quyền
                                (nhưng không có nghĩa vụ) sàng lọc, từ chối, xóa, dừng, tạm dừng, gỡ bỏ hoặc dời bất kỳ
                                Nội Dung có sẵn trên Trang VJM, bao gồm bất kỳ Nội Dung hoặc thông tin nào bạn đã đăng.
                                VJM có quyền gỡ bỏ Nội Dung:</p>
                            <ul>
                                <li th:text="#{terms.prohibited1.4.item1}">Xâm phạm đến Điều Khoản Dịch Vụ.</li>
                                <li th:text="#{terms.prohibited1.4.item2}">Trong trường hợp VJM nhận được khiếu
                                    nại
                                    hơp lệ theo quy định pháp luật từ Người Sử Dụng khác.
                                </li>
                                <li th:text="#{terms.prohibited1.4.item3}">Trong trường hợp VJM
                                    nhận
                                    được thông báo hợp lệ về vi phạm quyền sở hữu trí tuệ hoặc yêu cầu pháp lý cho
                                    việc gỡ
                                    bỏ.
                                </li>
                                <li th:text="#{terms.prohibited1.4.item4}">Những nguyên nhân khác theo quy định pháp
                                    luật. VJM có quyền chặn các liên
                                    lạc
                                    (bao gồm việc cập nhật trạng thái, đăng tin, truyền tin và/hoặc tán gẫu) về hoặc
                                    liên
                                    quan
                                    đến Dịch Vụ như nỗ lực của chúng tôi nhằm bảo vệ Dịch Vụ hoặc Người Sử Dụng của VJM,
                                    hoặc
                                    bằng cách khác thi hành các điều khoản trong Điều Khoản Dịch Vụ này. Người Sử Dụng
                                    đồng
                                    ý
                                    rằng mình phải đánh giá, và chịu mọi rủi ro liên quan đến, việc sử dụng bất kỳ Nội
                                    Dung
                                    nào,
                                    bao gồm bất kỳ việc dựa vào tính chính xác, đầy đủ, hoặc độ hữu dụng của Nội Dung
                                    đó.
                                    Liên
                                    quan đến vấn đề này, Người Sử Dụng thừa nhận rằng mình không phải và, trong giới hạn
                                    tối
                                    đa
                                    pháp luật cho phép, không cần dựa vào bất kỳ Nội Dung nào được tạo bởi VJM hoặc gửi
                                    cho
                                    VJM,
                                    bao gồm các thông tin trên các Diễn Đàn VJM hoặc trên các phần khác của Trang VJM.
                                </li>
                            </ul>
                            <p th:text="#{terms.section1.5}">1.5. Người Sử Dụng chấp thuận và đồng ý rằng VJM có thể
                                truy cập, duy trì và tiết lộ
                                thông tin
                                Tài Khoản của Người Sử Dụng, Nội Dung và bất kỳ tài liệu hoặc thông tin nào khác mà
                                Người Sử
                                Dụng cung cấp cho VJM trong trường hợp pháp luật có yêu cầu hoặc theo lệnh của tòa án
                                hoặc cơ quan chính phủ hoặc cơ quan nhà nước có thẩm quyền yêu cầu VJM hoặc những
                                nguyên
                                nhân khác theo quy định pháp luật: </p>
                            <ul>
                                <li th:text="#{terms.prohibited1.5.item1}">Tuân thủ các thủ tục pháp luật.</li>
                                <li th:text="#{terms.prohibited1.5.item2}">Thực thi Điều Khoản Dịch Vụ.</li>
                                <li th:text="#{terms.prohibited1.5.item3}">Phản hồi các khiếu nại về việc Nội Dung xâm
                                    phạm đến quyền lợi của bên thứ ba.
                                </li>
                                <li th:text="#{terms.prohibited1.5.item4}">Phản hồi các yêu cầu của Người Sử Dụng liên
                                    quan đến chăm sóc khách hàng.
                                </li>
                                <li th:text="#{terms.prohibited1.5.item5}">Bảo vệ các quyền, tài sản hoặc an toàn của
                                    VJM, Người Sử Dụng và/hoặc cộng đồng.
                                </li>
                            </ul>


                            <h3 th:text="#{terms.section2.title}">2. QUYỀN RIÊNG TƯ</h3>
                            <p th:text="#{terms.section2.1}">2.1. VJM coi trọng việc bảo mật thông tin của bạn. Để bảo
                                vệ quyền lợi người dùng, VJM
                                cung
                                cấp Chính Sách Bảo Mật để giải thích chi tiết các hoạt động bảo mật của VJM. Vui lòng
                                tham khảo để biết cách thức VJM thu thập và sử dụng thông tin liên quan đến Tài Khoản
                                và/hoặc việc sử dụng Dịch Vụ của Người Sử Dụng (“Thông Tin Người Sử Dụng”). Điều Khoản
                                Dịch Vụ này có liên quan mật thiết với Chính Sách Bảo Mật. Bằng cách sử dụng Dịch Vụ
                                hoặc cung cấp thông tin trên Trang VJM, Người Sử Dụng:</p>
                            <ul>
                                <li th:text="#{terms.prohibited2.1.item1}">Cho phép VJM thu thập, sử dụng, công bố
                                    và/hoặc xử lý các Nội Dung, dữ liệu cá nhân
                                    của bạn và Thông Tin Người Sử Dụng như được quy định trong Chính Sách Bảo Mật.
                                </li>
                                <li th:text="#{terms.prohibited2.1.item2}">Đồng ý và công nhận rằng các thông tin được
                                    cung cấp trên Trang VJM sẽ thuộc sở
                                    hữu chung của bạn và VJM
                                </li>
                                <li th:text="#{terms.prohibited2.1.item3}">Sẽ không, dù là trực tiếp hay gián tiếp, tiết
                                    lộ các Thông Tin Người Sử Dụng cho bất
                                    kỳ bên thứ ba nào, hoặc bằng bất kỳ phương thức nào cho phép bất kỳ bên thứ ba nào
                                    được truy cập hoặc sử dụng Thông Tin Người Dùng của bạn.
                                </li>
                            </ul>
                            <p th:text="#{terms.section2.2}">2.2. Trường hợp Người Sử Dụng sở hữu dữ liệu cá nhân của
                                Người Sử Dụng khác thông qua
                                việc sử
                                dụng Dịch Vụ (“Bên Nhận Thông Tin”), Người Sử Dụng là Bên Nhận Thông Tin theo đây đồng ý
                                rằng Bên Nhận Thông Tin sẽ:</p>
                            <ul>
                                <li th:text="#{terms.prohibited2.2.item1}">Tuân thủ mọi quy định pháp luật về bảo vệ an
                                    toàn thông tin cá nhân liên quan đến
                                    những thông tin đó
                                </li>
                                <li th:text="#{terms.prohibited2.2.item2}">Cho phép Người Sử Dụng là chủ sở hữu của các
                                    thông tin cá nhân mà Bên Nhận Thông Tin
                                    thu thập được (“Bên Tiết Lộ Thông Tin”) được phép xóa bỏ thông tin của mình được thu
                                    thập từ cơ sở dữ liệu của Bên Nhận Thông Tin.
                                </li>
                                <li th:text="#{terms.prohibited2.2.item3}">Cho phép Bên Tiết Lộ Thông Tin rà soát những
                                    thông tin đã được thu thập về họ bởi
                                    Bên Nhận Thông Tin, phù hợp với hoặc theo yêu cầu của các quy định pháp luật hiện
                                    hành.
                                </li>
                            </ul>


                            <h3 th:text="#{terms.section3.title}">3. PHẦN MỀM</h3>
                            <p th:text="#{terms.section3.1}">3.1. Bất kỳ phần mềm nào được cung cấp bởi VJM tới Người Sử
                                Dụng đều thuộc phạm vi điều
                                chỉnh
                                của các Điều Khoản Dịch Vụ này. VJM bảo lưu tất cả các quyền liên quan đến phần mềm
                                không được cấp một các rõ ràng bởi VJM theo Điều Khoản Dịch Vụ này. Bất kỳ tập lệnh hoặc
                                mã code, liên kết đến hoặc dẫn chiếu từ Dịch Vụ, đều được cấp phép cho bạn bởi các bên
                                thứ ba là chủ sở hữu của tập lệnh hoặc mã code đó chứ không phải bởi VJM.</p>


                            <h3 th:text="#{terms.section4.title}">4. VI PHẠM ĐIỀU KHOẢN DỊCH VỤ</h3>
                            <p th:text="#{terms.section4.1}">4.1. Việc vi phạm Điều Khoản Dịch Vụ này có thể dẫn tới một
                                số hành động, bao gồm bất kỳ
                                hoặc
                                tất cả các hành động sau:</p>
                            <ul>
                                <li th:text="#{terms.section4.action1}">Xóa danh mục sản phẩm.</li>
                                <li th:text="#{terms.section4.action2}">Giới hạn quyền sử dụng Tài Khoản.</li>
                                <li th:text="#{terms.section4.action3}">Đình chỉ và chấm dứt Tài Khoản.</li>
                                <li th:text="#{terms.section4.action4}">Thu hồi tiền/tài sản có được do hành vi gian
                                    lận, và các chi phí có liên quan như
                                    chi phí vận chuyển của đơn hàng, phí thanh toán…
                                </li>
                                <li th:text="#{terms.section4.action5}">Cáo buộc hình sự.</li>
                                <li th:text="#{terms.section4.action6}">Áp dụng biện pháp dân sự, bao gồm khiếu nại bồi
                                    thường thiệt hại và/hoặc áp dụng
                                    biện pháp khẩn cấp tạm thời.
                                </li>
                                <li th:text="#{terms.section4.action7}">Các hành động hoặc biện pháp chế tài khác theo
                                    Tiêu Chuẩn Cộng Đồng, Quy Chế Hoạt
                                    Động, hoặc các Chính Sách VJM.
                                </li>
                            </ul>


                            <h3 th:text="#{terms.section5.title}">5. CHÍNH SÁCH BẢO ĐẢM CỦA VJM</h3>
                            <p th:text="#{terms.section5.1}">5.1. Chính Sách Đảm Bảo của VJM là dịch vụ cung cấp bởi VJM
                                hoặc đơn vị được VJM ủy quyền
                                nhằm
                                bảo đảm cho các giao dịch mua bán hàng hóa được thực hiện trên Trang VJM. Để bảo đảm các
                                rủi ro về trách nhiệm pháp lý, Khoản Tiền Thanh Toán từ Người Mua sẽ được lưu giữ bởi
                                VJM hoặc đơn vị được VJM ủy quyền (“Tài Khoản Đảm Bảo VJM”). Người Bán sẽ không nhận
                                được lãi hoặc bất kỳ khoản phát sinh nào từ khoản tiền trong Tài Khoản Đảm Bảo VJM.</p>
                            <p th:text="#{terms.section5.2}">5.2. Sau khi Người Mua thanh toán đơn hàng, Khoản Tiền
                                Thanh Toán từ Người Mua sẽ được
                                lưu giữ
                                trong Tài Khoản Đảm Bảo VJM cho đến khi:</p>
                            <ul>
                                <li th:text="#{terms.section5.2.a}">Trừ trường hợp quy định tại Điều 5.2(d), trong
                                    trường hợp Người Mua gửi xác nhận cho
                                    VJM rằng Người Mua đã nhận được hàng (Có nghĩa người mua đã nhận được hàng và đánh
                                    giá sản phẩm), VJM sẽ chuyển Tiền Thanh Toán từ Người Mua từ Tài Khoản Đảm Bảo VJM
                                    sang Số Dư Tài Khoản VJM của Người Bán. Tuy nhiên nếu thời gian trả hàng/hoàn tiền
                                    vẫn chưa kết thúc, và sau đó Người Mua gửi yêu cầu trả hàng/hoàn tiền và VJM xác
                                    định được rằng yêu cầu trả hàng/hoàn tiền của Người Mua được chấp thuận, VJM có
                                    quyền điều chỉnh Khoản Tiền Thanh Toán từ Người Mua để thực hiện hoàn tiền cho Người
                                    Mua theo Chính Sách Trả Hàng và Hoàn Tiền.
                                </li>
                                <li th:text="#{terms.section5.2.b}">Trong trường hợp Thời Gian VJM Đảm Bảo (hoặc thời
                                    hạn gia hạn đã được chấp thuận
                                    theo Điều 5.3) đã hết hạn, trừ trường hợp áp dụng Điều 5.2(c) và 5.2(d), VJM sẽ
                                    chuyển Khoản Tiền Thanh Toán từ Người Mua từ Tài Khoản Đảm Bảo VJM sang Số Dư Tài
                                    Khoản VJM của Người Bán.
                                </li>
                                <li th:text="#{terms.section5.2.c}">Trường hợp VJM xác định được rằng yêu cầu trả
                                    hàng/hoàn tiền của Người Mua được chấp
                                    thuận, trừ khi áp dụng Điều 5.2(d), VJM sẽ hoàn tiền cho Người Mua theo các điều
                                    khoản trong Chính Sách Trả Hàng và Hoàn Tiền của VJM và chuyển phần còn lại (nếu có)
                                    vào Số Dư Tài Khoản VJM của Người Bán. Trong trường hợp yêu cầu trả hàng/hoàn tiền
                                    của Người Mua không được chấp thuận, VJM sẽ chuyển Tiền Thanh Toán từ Người Mua vào
                                    Tài Khoản Đảm Bảo VJM vào Số Dư Tài Khoản VJM của Người Bán.
                                </li>
                                <li th:text="#{terms.section5.2.d}">Thời điểm mà VJM xác định một cách hợp lý rằng việc
                                    thanh toán Tiền Thanh Toán từ
                                    Người Mua là hợp lý, bao gồm nhưng không giới hạn khi VJM xem như là cần thiết hợp
                                    lý để tuân thủ các quy định pháp luật hoặc theo lệnh của tòa án hoặc để thực thi
                                    Điều Khoản Dịch Vụ này.
                                </li>
                            </ul>
                            <p th:text="#{terms.section5.3}">5.3. Các khoản thanh toán thực hiện qua các kênh thanh toán
                                VJM sẽ được giữ lại trong Tài
                                Khoản Đảm Bảo VJM trong một khoảng thời gian nhất định (“Thời Gian VJM Đảm Bảo”).</p>
                            <p th:text="#{terms.section5.4}">5.4. Trường hợp tài khoản ngân hàng của Người Bán không thể
                                ghi có và / hoặc không thể
                                liên
                                lạc được với Người Bán, VJM sẽ nỗ lực liên lạc với Bên Bán bằng các thông tin do Người
                                Bán cung cấp. Trong trường hợp Người Bán không thể liên lạc được và sau thời hạn mười
                                hai (12) tháng kể từ ngày Khoản Tiền Thanh Toán của Người Mua đến hạn thanh toán cho
                                Người Bán nhưng chưa được trả cho Người Bán, VJM sẽ xử lý Khoản Tiền Thanh Toán này theo
                                quy định pháp luật.</p>
                            <p th:text="#{terms.section5.5}">5.5. Người Bán/Người Mua phải là bên thụ hưởng Tài Khoản và
                                tự thực hiện giao dịch trên
                                Trang
                                VJM. VJM có quyền yêu cầu Người Bán hoặc Người Mua cung cấp các dữ liệu cá nhân như
                                thông tin tài khoản ngân hàng và/hoặc bất cứ tài liệu cần thiết nào khác để sử dụng vào
                                mục đích xác nhận thông tin, bao gồm cả việc xác nhận theo yêu cầu của bên thứ ba thực
                                hiện thanh toán và các bên cung cấp dịch vụ vận chuyển. Người Bán/Người Mua theo đây
                                chấp thuận cho VJM sử dụng hoặc cung cấp các dữ liệu cá nhân của mình nhằm phục vụ cho
                                việc sử dụng Trang VJM của Người Bán/Người Mua. Ngoài ra, Người Bán/Người Mua ủy quyền
                                cho VJM sử dụng các dữ liệu cá nhân của mình để giải đáp bất kỳ thắc mắc nào VJM cho là
                                cần thiết để xác nhận danh tính của Người Bán/Người Mua với các tổ chức khác như ngân
                                hàng của Người Bán/Người Mua. Để biết thêm thông tin về cách thức VJM xử lý thông tin cá
                                nhân của bạn, vui lòng tham khảo tại trang.</p>
                            <p th:text="#{terms.section5.6}">5.6. Chính Sách Đảm Bảo của VJM là nội dung thêm vào và
                                không giới hạn các nghĩa vụ của
                                Người
                                Bán và Người Mua theo quy định pháp luật hiện hành mà các quy định pháp luật này có thể
                                rộng hơn hoặc chặt chẽ hơn những quy định trong Chính Sách Đảm Bảo của VJM. Chính Sách
                                Đảm Bảo của VJM không nhằm mục đích cũng như không được xây dựng nhằm hỗ trợ Người Bán
                                hoặc Người Mua tuân thủ các trách nhiệm pháp lý của chính họ mà các trách nhiệm này phải
                                tự chịu trách nhiệm bởi chính Người Bán hoặc Người Mua, và VJM không chịu trách nhiệm
                                đối với việc tuân thủ pháp luật của Người Bán hoặc Người Mua như vừa đề cập. Trong mọi
                                trường hợp, Chính Sách Đảm Bảo của VJM không cấu hành việc bảo hành sản phẩm.</p>
                            <p th:text="#{terms.section5.7}">5.7. Để tránh nhầm lẫn, bất kỳ giao dịch nào không được
                                thực hiện trên Trang VJM sẽ không
                                được
                                áp dụng Chính Sách Đảm Bảo của VJM.</p>


                            <h3 th:text="#{terms.section6.title}">6. VẬN CHUYỂN</h3>
                            <p th:text="#{terms.section6.1}">6.1. Khi vận chuyển thành công đơn hàng, VJM sẽ thông báo
                                đến Người Bán về việc đã nhận
                                được
                                tiền thanh toán từ phía Người Mua. Trừ trường hợp có thỏa thuận khác với VJM, Người Bán
                                có trách nhiệm cung cấp đầy đủ thông tin tài khoản ngân hàng để VJM tiến hành chuyển
                                tiền thanh toán cho đơn hàng đó.</p>
                            <p th:text="#{terms.section6.2}">6.2. Người Bán phải luôn nỗ lực để đảm bảo Người Mua sẽ
                                nhận được hàng đúng hẹn trong
                                Thời
                                Gian VJM Đảm Bảo.</p>
                            <p th:text="#{terms.section6.3}">6.3. Người Sử Dụng hiểu rằng Người Bán chịu toàn bộ rủi ro
                                liên quan đến việc vận chuyển
                                hàng
                                hóa được mua và bảo đảm rằng Người Bán đã hoặc sẽ mua bảo hiểm hàng hóa, bao gồm cả việc
                                vận chuyển. Trong trường hợp hàng hóa được mua bị hư hỏng, thất lạc hoặc không chuyển
                                phát được trong quá trình vận chuyển, Người Sử Dụng thừa nhận và đồng ý rằng VJM sẽ
                                không chịu trách nhiệm đối với bất kỳ tổn thất, chi phí, phí tổn hoặc bất kỳ khoản phí
                                nào phát sinh từ sự cố đó và Người Bán và/hoặc Người Mua sẽ liên hệ với đơn vị vận
                                chuyển để giải quyết sự cố đó.</p>
                            <p th:text="#{terms.section6.4}">6.4. Đối với Giao Dịch Xuyên Quốc Gia:</p>
                            <ul>
                                <li th:text="#{terms.section6.4.a}">Người Sử Dụng hiểu rằng, khi một đăng bán có mô tả
                                    rằng sản phẩm được đăng bán sẽ
                                    được gửi từ nước ngoài ("Sản Phẩm Ở Nước Ngoài"), sản phẩm đó được bán bởi Người Bán
                                    ngoài Việt Nam, và việc xuất/nhập khẩu sản phẩm đó chịu sự điều chỉnh của pháp luật.
                                    Người Sử Dụng cần hiểu rõ các hạn chế về xuất/nhập khẩu hàng hóa của quốc gia nhập
                                    khẩu. Người Sử Dụng đồng ý rằng VJM không thể tư vấn pháp lý liên quan đến vấn đề
                                    này và đồng ý rằng VJM sẽ không thể chịu các rủi ro hoặc trách nhiệm pháp lý đối với
                                    hoạt động xuất/nhập khẩu hàng hóa vào Việt Nam.
                                </li>
                                <li th:text="#{terms.section6.4.b}">Bằng việc chọn mua Sản Phẩm Ở Nước Ngoài, Người Sử
                                    Dụng theo đây đồng ý ủy thác cho
                                    VJM, tự mình hoặc thông qua bên thứ ba, thực hiện các thủ tục/công đoạn cần thiết
                                    cho việc nhập khẩu Sản Phẩm Ở Nước Ngoài vào Việt Nam theo quy định pháp luật.
                                </li>
                            </ul>
                            <p th:text="#{terms.section6.5}">6.5. Người Bán đồng ý rằng VJM được phép ngưng và/hoặc tạm
                                ngưng hành trình vận chuyển
                                của đơn
                                hàng và tạm giữ hàng hóa tại kho của đơn vị vận chuyển để phục vụ công tác điều tra nội
                                bộ, hoặc để phối hợp với cơ quan nhà nước có thẩm quyền phục vụ công tác điều tra đối
                                với những đơn hàng, hàng hóa vi phạm chính sách của VJM hoặc có hành vi vi phạm pháp
                                luật.</p>


                            <h3 th:text="#{terms.section7.title}">7. HUỶ ĐƠN HÀNG, TRẢ HÀNG VÀ HOÀN TIỀN</h3>
                            <p th:text="#{terms.section7.1}">7.1. Theo Chính Sách VJM vào từng thời điểm, Người Mua có
                                thể hủy đơn hàng trong các
                                trường
                                hợp sau:</p>
                            <ul>
                                <li th:text="#{terms.section7.1.a}">Ở giai đoạn “Chờ Xác Nhận” hoặc “Chờ Lấy Hàng” mà
                                    không cần Người Bán chấp nhận.
                                </li>
                                <li th:text="#{terms.section7.1.b}">Ở giai đoạn “Đã Bàn Giao Cho Đơn Vị Vận Chuyển” thì
                                    người dùng sẽ không được thao
                                    tác “Huỷ đơn hàng”.
                                </li>
                            </ul>
                            <p th:text="#{terms.section7.2}">7.2. Người Mua có thể yêu cầu trả hàng và hoàn tiền theo
                                VJM.</p>
                            <p th:text="#{terms.section7.3}">VJM không quản lý việc hủy đơn hàng, trả hàng, hoàn tiền
                                của các đơn hàng tự giao dịch
                                giữa Người Bán và Người Mua.</p>
                            <p th:text="#{terms.section7.4}">7.3. Phụ thuộc vào quy định tại Điều 7.5, việc hoàn tiền
                                cho Người Mua sẽ được thực hiện
                                cùng
                                một phương thức thanh toán mà Người Mua đã sử dụng khi mua hàng ban đầu (“Phương Thức
                                Thanh Toán Ban Đầu”) trong khoảng thời gian được công bố tùy từng thời điểm.</p>
                            <p th:text="#{terms.section7.4}">7.4. Trong trường hợp VJM không thể thực hiện việc hoàn
                                tiền thông qua Phương Thức Thanh
                                Toán
                                Ban Đầu vì bất kỳ lý do gì (bao gồm nhưng không giới hạn trường hợp Phương Thức Thanh
                                Toán Ban Đầu không còn hiệu lực hoặc không thể sử dụng để nhận tiền), Người Mua xác nhận
                                và đồng ý rằng:</p>
                            <ul>
                                <li th:text="#{terms.section7.4.a}">VJM có thể thực hiện việc hoàn tiền bằng cách phát hành phiếu mua
                                    hàng có giá trị tương đương giá trị số tiền hoàn lại.
                                </li>
                                <li th:text="#{terms.section7.4.b}">Khi phát hành phiếu mua hàng
                                    đó, Người Mua sẽ không có bất kỳ quyền lợi nào thêm hoặc sẽ không có quyền yêu cầu
                                    VJM
                                    bồi thường đối với khoản tiền hoàn lại đó.
                                </li>
                                <li th:text="#{terms.section7.4.c}">Thời hạn của phiếu mua hàng sẽ theo
                                    quyết định của VJM tại thời điểm phát hành.
                                </li>
                            </ul>


                            <h3 th:text="#{terms.section8.title}">8. TRÁCH NHIỆM CỦA NGƯỜI BÁN</h3>
                            <p th:text="#{terms.section8.1}">8.1. Người Bán phải quản lý và đảm bảo độ chính xác và đầy đủ của các thông tin chẳng hạn
                                liên
                                quan đến giá cả và chi tiết sản phẩm, số lượng sản phẩm trong kho cũng như các điều
                                khoản và điều kiện bán hàng được cập nhật trong danh mục sản phẩm của Người Bán và không
                                được phép đăng tải các thông tin không chính xác hoặc gây nhầm lẫn.</p>
                            <p th:text="#{terms.section8.2}">8.2. Giá sản phẩm hợp lệ được Người Bán toàn quyền quyết định phù hợp với mặt bằng giá
                                trên
                                thị trường và/hoặc chi phí mà Người Bán đã bỏ ra để có được sản phẩm, trừ các sản phẩm
                                được ấn định giá bởi cơ quan có thẩm quyền. Giá sản phẩm nên bao gồm toàn bộ số tiền mà
                                Người Mua cần thanh toán (ví dụ: các loại thuế, phí, v.v.) và Người Bán sẽ không yêu cầu
                                Người Mua thanh toán thêm hoặc riêng bất kỳ khoản tiền nào khác. Nếu thông tin giá hàng
                                hóa hoặc dịch vụ niêm yết không thể hiện rõ giá đó đã bao gồm hay chưa bao gồm những chi
                                phí liên quan đến việc mua hàng hóa hoặc dịch vụ như thuế, phí đóng gói, phí vận chuyển
                                và các chi phí phát sinh khác thì giá này được hiểu là đã bao gồm mọi chi phí liên quan
                                nói trên.</p>
                            <p th:text="#{terms.section8.3}">8.3.Để thúc đẩy việc mua các sản phẩm Người Bán đăng bán, VJM có thể đăng những sản phẩm
                                đó
                                (theo mức giá đã điều chỉnh) lên các website của bên thứ ba (chẳng hạn các cổng thông
                                tin và cổng so sánh giá) và những website khác (nội địa hoặc quốc tế) được vận hành bởi
                                hoặc hợp tác với VJM.</p>
                            <p th:text="#{terms.section8.4}">8.4. Người Bán chịu trách nhiệm cung cấp hóa đơn cho Người Mua theo quy định pháp
                                luật.</p>
                            <p th:text="#{terms.section8.5}">8.5. Người Bán thừa nhận và đồng ý rằng Người Bán chịu trách nhiệm chi trả các loại thuế,
                                phí
                                hải quan và bất kỳ loại phí nào đối với sản phẩm được bán và VJM không cung cấp bất kỳ
                                tư vấn về pháp lý hay tư vấn thuế nào liên quan đến vấn đề này. Bên Bán nên sử dụng dịch
                                vụ tư vấn thuế chuyên nghiệp nếu cần thiết.</p>
                            <p th:text="#{terms.section8.6}">8.6. Người Bán thừa nhận và đồng ý rằng bất kỳ sự vi phạm nào của Người Bán đối với các
                                chính
                                sách của VJM.</p>


                            <h3 th:text="#{terms.section9.title}">9. PHÍ</h3>
                            <p th:text="#{terms.section9.1}">9.1. Nếu Điều Khoản Dịch Vụ này không có quy định nào khác hoặc các bên không có thỏa
                                thuận
                                nào khác, Người Mua không phải thanh toán bất kỳ khoản phí nào khi sử dụng dịch vụ trên
                                Trang VJM.</p>
                            <p th:text="#{terms.section9.2}">9.2. Người Bán thừa nhận và đồng ý rằng VJM có thể khấu trừ các khoản phí phải trả cho
                                VJM và
                                các khoản thuế theo quy định của pháp luật (nếu có) áp dụng đối với Khoản Tiền Thanh
                                Toán từ Người Mua.</p>


                            <h3 th:text="#{terms.section10.title}">10. TRANH CHẤP</h3>
                            <p th:text="#{terms.section10.1}">10.1. Trường hợp phát sinh vấn đề liên quan đến giao dịch, Người Bán và Người Mua đồng ý
                                đầu
                                tiên sẽ đối thoại với nhau để cố gắng giải quyết tranh chấp đó bằng thảo luận hai bên,
                                và VJM sẽ cố gắng một cách hợp lý để thu xếp. Nếu vấn đề không được giải quyết bằng thảo
                                luận hai bên, Người Sử Dụng có thể khiếu nại lên cơ quan có thẩm quyền của địa phương để
                                giải quyết tranh chấp phát sinh đối với giao dịch.</p>
                            <p th:text="#{terms.section10.2}">10.2. Mỗi Người Bán và Người Mua cam kết và đồng ý rằng mình sẽ không tiến hành thủ tục
                                tố tụng
                                hoặc bằng cách khác khiếu nại đối với VJM hoặc các công ty liên kết của VJM (trừ trường
                                hợp VJM hoặc các công ty liên kết của mình là Người Bán sản phẩm liên quan đến khiếu nại
                                đó) liên quan đến bất kỳ giao dịch nào được thực hiện trên Trang VJM hoặc bất kỳ tranh
                                chấp nào liên quan đến giao dịch đó.</p>
                            <p th:text="#{terms.section10.3}">10.3. Người Sử Dụng được áp dụng Chính Sách Đảm Bảo của VJM có thể gửi yêu cầu bằng văn
                                bản tới
                                VJM để được hỗ trợ giải quyết tranh chấp phát sinh từ giao dịch. VJM sẽ thực hiện những
                                bước cần thiết để hỗ trợ Người Sử Dụng giải quyết những tranh chấp này.</p>
                            <p th:text="#{terms.section10.4}">10.4. Để rõ ràng hơn, việc hỗ trợ theo Mục 10 này chỉ áp dụng đối với Người Mua là đối
                                tượng
                                của Chính Sách Đảm Bảo của VJM. Người Mua sử dụng những phương thức thanh toán khác có
                                thể liên hệ trực tiếp với Người Bán.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="base :: footer"></div>

<!-- JS Files -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>