<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${pageTitle} ?: 'Điều khoản'">Điều khoản</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Including CSS Files from base.html -->
    <th:block th:replace="~{base :: head}"></th:block>
</head>


<body class="sticky-header">

<div th:replace="base :: header"></div>

<main class="main-wrapper">
    <!-- Start Privacy Policy Area  -->
    <div class="axil-privacy-area axil-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="axil-privacy-policy">
                        <h4 class="title" th:text="#{terms.welcome}">Chào mừng bạn đến với Sàn Giao Dịch Thương Mại Điện Tử VJM qua giao diện
                            website. Trước khi sử dụng Trang VJM hoặc tạo tài khoản VJM (“Tài Khoản”), vui lòng đọc kỹ
                            các Điều Khoản Dịch Vụ dưới đây.</h4>
                        <p th:text="#{terms.privacy}">VJM coi trọng việc bảo mật thông tin của bạn. Để bảo vệ quyền lợi người dùng, VJM cung cấp
                            Chính Sách Bảo Mật để giải thích chi tiết các hoạt động bảo mật của VJM. Vui lòng tham khảo
                            Chính Sách Bảo Mật để biết cách thức VJM thu thập và sử dụng thông tin liên quan đến Tài
                            Khoản và/hoặc việc sử dụng Dịch Vụ của Người Sử Dụng (“Thông Tin Người Sử Dụng”).</p>
                        <p th:text="#{terms.register}">Một vài tính năng của Dịch Vụ chúng tôi yêu cầu phải đăng ký một Tài Khoản bằng cách lựa chọn
                            một tên người sử dụng không trùng lặp (“Tên Đăng Nhập”) và mật khẩu đồng thời cung cấp một
                            cách trung thực và chính xác một số thông tin cá nhân nhất định. Bạn có thể sử dụng Tài
                            Khoản của mình để truy cập vào các sản phẩm, website hoặc dịch vụ khác mà VJM cho phép, hoặc
                            có mối liên hệ hoặc đang hợp tác với VJM.</p>
                        <p th:text="#{terms.agree}">Bạn đồng ý (a) giữ bí mật mật khẩu và chỉ sử dụng Tên Đăng Nhập và mật khẩu khi đăng nhập,
                            (b) đảm bảo bạn sẽ đăng xuất khỏi tài khoản của mình sau mỗi phiên đăng nhập trên Trang VJM,
                            và (c) thông báo ngay lập tức với VJM nếu phát hiện bất kỳ việc sử dụng trái phép nào đối
                            với Tài Khoản, Tên Đăng Nhập và/hoặc mật khẩu của bạn.</p>
                        <p th:text="#{terms.conditions}">Bạn chỉ có thể sử dụng Dịch Vụ và/hoặc mở Tài Khoản tại VJM nếu bạn đáp ứng đủ các điều kiện
                            để chấp nhận Điều Khoản Dịch Vụ này cũng như quy chế, chính sách, quy định và tiêu chuẩn
                            cộng đồng của VJM.</p>
                        <p th:text="#{terms.prohibited}">Người Sử Dụng không được phép:</p>
                        <ul>
                            <li th:text="#{terms.prohibited.item1}">Tải lên, đăng, truyền tải hoặc bằng cách khác công khai bất cứ Nội Dung nào trái
                                pháp luật, có hại, đe dọa, lạm dụng, quấy rối, gây hoang mang, lo lắng, xuyên tạc, phỉ
                                báng, xúc phạm, khiêu dâm, bôi nhọ, xâm phạm quyền riêng tư của người khác, gây căm
                                phẫn, hoặc phân biệt chủng tộc, dân tộc hoặc bất kỳ nội dung không đúng đắn nào khác.
                            </li>
                            <li th:text="#{terms.prohibited.item2}">Vi phạm pháp luật, quyền lợi của bên thứ ba hoặc Chính Sách Cấm/Hạn Chế Sản Phẩm của
                                VJM.
                            </li>
                            <li th:text="#{terms.prohibited.item3}">Đăng tải, truyền tin, hoặc bằng bất kỳ hình thức nào khác hiển thị bất kỳ Nội Dung nào
                                có sự xuất hiện của người chưa thành niên hoặc sử dụng Dịch Vụ gây tổn hại cho người
                                chưa thành niên dưới bất kỳ hình thức nào.
                            </li>
                            <li th:text="#{terms.prohibited.item4}">Sử dụng Dịch Vụ hoặc đăng tải Nội Dung để mạo danh bất kỳ cá nhân hoặc tổ chức nào, hoặc
                                bằng cách nào khác xuyên tạc cá nhân hoặc tổ chức.
                            </li>
                            <li th:text="#{terms.prohibited.item5}">Giả mạo các tiêu đề hoặc bằng cách khác ngụy tạo các định dạng nhằm che giấu nguồn gốc
                                của bất kỳ Nội Dung nào được truyền tải thông qua Dịch Vụ;
                            </li>
                            <li th:text="#{terms.prohibited.item6}">Gỡ bỏ bất kỳ thông báo độc quyền nào từ Trang VJM</li>
                            <li th:text="#{terms.prohibited.item7}">Gây ra, chấp nhận hoặc ủy quyền cho việc sửa đổi, cấu thành các sản phẩm phái sinh, hoặc
                                chuyển thể của Dịch Vụ mà không được sự cho phép rõ ràng của VJM.
                            </li>
                            <li th:text="#{terms.prohibited.item8}">Sử dụng Dịch Vụ phục vụ lợi ích của bất kỳ bên thứ ba nào hoặc bất kỳ hành vi nào không
                                được chấp nhận theo Điều Khoản Dịch Vụ này.
                            </li>
                            <li th:text="#{terms.prohibited.item9}">Sử dụng Dịch Vụ hoặc đăng tải Nội Dung cho mục đích gian lận, không hợp lý, sai trái,
                                gây hiểu nhầm hoặc gây nhầm lẫn.
                            </li>
                            <li th:text="#{terms.prohibited.item10}">Mở và/hoặc vận hành nhiều tài khoản người dùng khác nhau liên quan đến bất kỳ hành vi
                                nào vi phạm điều khoản hoặc tinh thần của Điều Khoản Dịch Vụ này hoặc các quy định,
                                Chính Sách VJM trong từng thời điểm.
                            </li>
                            <li th:text="#{terms.prohibited.item11}">Truy cập Trang VJM, mở tài khoản hoặc bằng cách khác truy cập tài khoản người dùng của
                                mình thông qua bất kỳ phần mềm hoặc phần cứng không được chấp thuận hoặc
                                không được cung cấp bởi VJM, bao gồm phần mềm giả lập, thiết bị giả lập, phần mềm tự
                                động, phần mềm thay đổi thông tin thiết bị, hoặc bất kỳ phần mềm, thiết bị hoặc phần
                                cứng nào khác nhằm mục đích thực hiện hành vi gian lận, lạm dụng các Chính Sách VJM hoặc
                                có chức năng tương tự.
                            </li>
                            <li th:text="#{terms.prohibited.item12}">Chỉnh sửa giá của bất kỳ sản phẩm nào hoặc can thiệp vào danh mục hàng hóa của Người Sử
                                Dụng khác.
                            </li>
                            <li th:text="#{terms.prohibited.item13}">Thực hiện bất kỳ hành động nào làm sai lệch hệ thống đánh giá hoặc tiếp nhận phản hồi
                                của VJM.
                            </li>
                            <li th:text="#{terms.prohibited.item14}">Cố gắng chuyển đổi mã chương trình, đảo ngược kỹ thuật, tháo gỡ hoặc xâm nhập (hack)
                                Dịch Vụ (hoặc bất cứ hợp phần nào theo đó); hoặc phá bỏ hoặc vượt qua bất kỳ công nghệ
                                mã hóa hoặc biện pháp bảo mật nào được VJM áp dụng đối với các Dịch Vụ và/hoặc các dữ
                                liệu được truyền tải, xử lý hoặc lưu trữ bởi VJM.
                            </li>
                            <li th:text="#{terms.prohibited.item15}">Khai thác hoặc thu thập bất kỳ thông tin nào liên quan đến Tài Khoản của Người Sử Dụng
                                khác, bao gồm bất kỳ thông tin hoạt động hoặc dữ liệu cá nhân nào.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div th:replace="base :: footer"></div>

<!-- JS Files -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>