<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>View Store</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/slick-theme.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/sal.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/vendor/base.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link rel="stylesheet" th:href="@{/css/style-2.css}">
</head>

<body class="sticky-header">
<a href="#" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
<div th:replace="base :: header"></div>

<main class="main-wrapper">
    <!-- Shop Info  -->
    <div class="axil-breadcrumb-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="inner">
                        <ul class="axil-breadcrumb">
                            <li class="axil-breadcrumb-item"><a href="/homepage">Home</a></li>
                        </ul>
                        <h1 class="title" th:text="${store.storeName}"></h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="inner">
                        <div class="bradcrumb-thumb">
                            <img th:src="@{${store.pictureUrl}}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Products Section  -->
    <div class="axil-shop-area axil-section-gap bg-color-white">
        <div class="container">
            <!-- Products  -->
            <div class="row row--15">
                <div th:each="product : ${store.products}" class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="axil-product product-style-one has-color-pick mt--40">
                        <div class="thumbnail">
                            <a th:href="@{/product-detail/{id}(id=${product.productId})}">
                                <img class="spi" th:src="${product.productVariations[0].imageId.thumbnail}"
                                     alt="Product Image">
                            </a>
                        </div>
                        <div class="product-content">
                            <div class="inner">
                                <h5 class="title"><a th:href="@{/product-detail/{id}(id=${product.productId})}"
                                                     th:text="${product.productName}"></a></h5>
                                <div class="product-price-variant">
                                    <span class="price current-price" th:text="${'$' + product.price}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pt--30">
                <a href="#" class="axil-btn btn-bg-lighter btn-load-more">Load more</a>
            </div>
        </div>
    </div>
</main>

<div class="service-area">
    <div class="container">
        <div class="row row-cols-xl-4 row-cols-sm-2 row-cols-1 row--20">
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service1.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Fast &amp; Secure Delivery</h6>
                        <p>Tell about your service.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service2.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Money Back Guarantee</h6>
                        <p>Within 10 days.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service3.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">24 Hour Return Policy</h6>
                        <p>No question ask.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="service-box service-style-2">
                    <div class="icon">
                        <img th:src="@{/images/icons/service4.png}" alt="Service">
                    </div>
                    <div class="content">
                        <h6 class="title">Pro Quality Support</h6>
                        <p>24/7 Live support.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="axil-footer-area footer-style-2">
    <div class="footer-top separator-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Support</h5>
                        <div class="inner">
                            <p>685 Market Street, Las Vegas, LA 95820</p>
                            <ul class="support-list-item">
                                <li><a href="mailto:example@domain.com"><i class="fal fa-envelope-open"></i>
                                    example@domain.com</a></li>
                                <li><a href="tel:(+01)850-315-5862"><i class="fal fa-phone-alt"></i> (+01) 850-315-5862</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Account</h5>
                        <div class="inner">
                            <ul>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="sign-up.html">Login / Register</a></li>
                                <li><a href="cart-detail.html">Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="product-list.html">Shop</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Product Quick View Modal -->
<div th:each="product : ${store.products}" class="modal fade quick-view-product"
     th:attr="id=${'quick-view-modal-' + product.productId}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="far fa-times"></i></button>
            </div>
            <div class="modal-body">
                <div class="single-product-thumb">
                    <div class="row">
                        <div class="col-lg-7 mb--40">
                            <div class="row">
                                <div class="col-lg-10 order-lg-2">
                                    <div class="single-product-thumbnail product-large-thumbnail axil-product thumbnail-badge zoom-gallery">
                                        <div class="thumbnail" th:each="pv : ${product.productVariations}">
                                            <img th:src="@{${pv.imageId.thumbnail}}" alt="Product Image"
                                                 style="width: 400px; height: 300px;">
                                            <div class="product-quick-view position-view">
                                                <a th:src="@{${pv.imageId.thumbnail}}" class="popup-zoom">
                                                    <i class="far fa-search-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 order-lg-1">
                                    <div class="product-small-thumb small-thumb-wrapper">
                                        <div class="small-thumb-img" th:each="pv : ${product.productVariations}">
                                            <img th:src="@{${pv.imageId.thumbnail}}"
                                                 alt="thumb image"
                                                 style="width: 69px; height: 42px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 mb--40">
                            <div class="single-product-content">
                                <div class="inner">
                                    <div class="product-rating">
                                        <div class="star-rating">
                                            <img th:src="@{/images/icons/rate.png}" alt="Rate Images">
                                        </div>
                                        <div class="review-link">
                                            <a href="#">(<span>1</span> customer reviews)</a>
                                        </div>
                                    </div>
                                    <h3 class="product-title" th:text="${product.productName}"></h3>
                                    <span class="price-amount" th:text="${'$' + product.price}"></span>
                                    <ul class="product-meta">
                                        <li><i class="fal fa-check"></i>In stock</li>
                                        <li><i class="fal fa-check"></i>Free delivery available</li>
                                        <li><i class="fal fa-check"></i>Sales 30% Off Use Code: MOTIVE30</li>
                                    </ul>
                                    <p class="description" th:text="${product.productDescription}"></p>
                                    <div class="product-variations-wrapper">
                                        <div class="product-variation">
                                            <h6 class="title">Colors:</h6>
                                            <div class="color-variant-wrapper">
                                                <ul class="color-variant mt--0">
                                                    <li th:class="${'color-extra-0' + (iter.index + 1) + (iter.first ? ' active' : '')}"
                                                        th:each="pv,iter : ${product.productVariations}">
                                                    <span><span class="color"
                                                                th:style="${'background: ' + pv.color.colorName}"></span></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-variation">
                                            <h6 class="title">Size:</h6>
                                            <ul class="range-variant">
                                                <li th:each="pv : ${product.productVariations}"
                                                    th:text="${pv.size.sizeName}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-action-wrapper d-flex-center">
                                        <div class="pro-qty">
                                            <label>
                                                <input type="text" value="1">
                                            </label>
                                        </div>
                                        <ul class="product-action d-flex-center mb--0">
                                            <li class="add-to-cart">
                                                <a href="cart-detail.html"
                                                   class="axil-btn btn-bg-primary">Add to Cart
                                                </a>
                                            </li>
                                            <li class="wishlist">
                                                <a href="wishlist.html"
                                                   class="axil-btn wishlist-btn"><i class="far fa-heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS
============================================ -->
<script th:src="@{/js/vendor/modernizr.min.js}"></script>
<script th:src="@{/js/vendor/jquery.js}"></script>
<script th:src="@{/js/vendor/popper.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/vendor/slick.min.js}"></script>
<script th:src="@{/js/vendor/js.cookie.js}"></script>
<script th:src="@{/js/vendor/jquery-ui.min.js}"></script>
<script th:src="@{/js/vendor/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/js/vendor/jquery.countdown.min.js}"></script>
<script th:src="@{/js/vendor/sal.js}"></script>
<script th:src="@{/js/vendor/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/vendor/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/vendor/counterup.js}"></script>
<script th:src="@{/js/vendor/waypoints.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/script.js}"></script>
</body>

</html>