<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thêm sản phẩm | Kênh người bán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="../../static/seller/css/main.css">
    <!-- Font-icon seller-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script>

        function readURL(input, thumbimage) {
            if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#thumbimage").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else { // Sử dụng cho IE
                $("#thumbimage").attr('src', input.value);

            }
            $("#thumbimage").show();
            $('.filename').text($("#uploadfile").val());
            $('.Choicefile').css('background', '#14142B');
            $('.Choicefile').css('cursor', 'default');
            $(".removeimg").show();
            $(".Choicefile").unbind('click');

        }

        $(document).ready(function () {
            $(".Choicefile").bind('click', function () {
                $("#uploadfile").click();

            });
            $(".removeimg").click(function () {
                $("#thumbimage").attr('src', '').hide();
                $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
                $(".removeimg").hide();
                $(".Choicefile").bind('click', function () {
                    $("#uploadfile").click();
                });
                $('.Choicefile').css('background', '#14142B');
                $('.Choicefile').css('cursor', 'pointer');
                $(".filename").text("");
            });
        })
    </script>
</head>

<body class="app sidebar-mini rtl">
<style>
    .Choicefile {
        display: block;
        background: #14142B;
        border: 1px solid #fff;
        color: #fff;
        width: 150px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 0px;
        border-radius: 5px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }

    .Choicefile:hover {
        text-decoration: none;
        color: white;
    }

    #uploadfile,
    .removeimg {
        display: none;
    }

    #thumbbox {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .removeimg {
        height: 25px;
        position: absolute;
        background-repeat: no-repeat;
        top: 5px;
        left: 5px;
        background-size: 25px;
        width: 25px;
        /* border: 3px solid red; */
        border-radius: 50%;

    }

    .removeimg::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: '';
        border: 1px solid red;
        background: red;
        text-align: center;
        display: block;
        margin-top: 11px;
        transform: rotate(45deg);
    }

    .removeimg::after {
        /* color: #FFF; */
        /* background-color: #DC403B; */
        content: '';
        background: red;
        border: 1px solid red;
        text-align: center;
        display: block;
        transform: rotate(-45deg);
        margin-top: -2px;
    }
</style>
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li><a class="app-nav__item" href="/index.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/images/hay.jpg" width="50px"
                                        alt="User Image">
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="store-info-manager.html"><i class='app-menu__icon bx bx-info-square'></i><span
                class="app-menu__label">Thông tin cửa hàng</span></a></li>
        <li><a class="app-menu__item " href="dashboard.html"><i class='app-menu__icon bx bx-tachometer'></i><span
                class="app-menu__label">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item active" href="product-manager.html"><i
                class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item" href="order-manager.html"><i class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="shipping-manager.html"><i
                class='app-menu__icon bx bx-run'></i><span class="app-menu__label">Quản lý vận chuyển</span></a>
        </li>
        <li><a class="app-menu__item" href="income-manager.html"><i
                class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh thu</span></a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách sản phẩm</li>
            <li class="breadcrumb-item">Thêm sản phẩm</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Tạo mới sản phẩm</h3>
                <div class="tile-body">
                    <form class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Mã sản phẩm </label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Tên sản phẩm</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-3 ">
                            <label for="status-products" class="control-label">Tình trạng</label>
                            <select class="form-control" id="status-products">
                                <option>-- Chọn tình trạng --</option>
                                <option>Còn hàng</option>
                                <option>Hết hàng</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="categories-product" class="control-label">Danh mục</label>
                            <select class="form-control" id="categories-product">
                                <option>-- Chọn danh mục --</option>
                                <option>Electronic</option>
                                <option>Beauty</option>
                                <option>Gaming</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 ">
                            <label class="control-label">Nhà cung cấp</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Giá bán(VND)</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Giảm giá(%)</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Khối lượng(gram)</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Nhóm sản phẩm</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-12">
                            <!-- Main Image Upload -->
                            <label class="control-label">Ảnh chính</label>
                            <div id="mainImageUpload">
                                <input type="file" id="mainImage" name="mainImage" accept="image/*"
                                       onchange="readMainImage(this);"/>
                            </div>
                            <div id="mainThumbbox">
                                <!-- Main image thumbnail will be displayed here -->
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <h4>Biến thể sản phẩm</h4>
                            <button type="button" class="btn btn-primary" id="add-variant">Thêm biến thể</button>
                        </div>
                        <div id="variants-container" class="col-12 mt-4">
                            <!-- Mẫu cho mỗi biến thể sản phẩm -->
                            <div class="variant-item row mt-12">
                                <div class="form-group col-md-3">
                                    <label for="size-product" class="control-label">Kích thước</label>
                                    <select class="form-control" id="size-product">
                                        <option>-- Chọn kích thước --</option>
                                        <option>S</option>
                                        <option>M</option>
                                        <option>L</option>
                                        <option>XL</option>
                                        <option>XXL</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="color-product" class="control-label">Màu sắc</label>
                                    <select class="form-control" id="color-product">
                                        <option>-- Chọn kích thước --</option>
                                        <option>Xanh</option>
                                        <option>Đỏ</option>
                                        <option>Vàng</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">Số lượng</label>
                                    <input type="number" class="form-control stock-input" required min="0">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">Hình ảnh</label>
                                    <div id="variantImageUpload">
                                        <input type="file" id="variantImage" name="variantImage" accept="image/*"
                                               onchange="readVariantImage(this);"/>
                                    </div>
                                    <div id="variantThumbbox">
                                        <!-- Variant image thumbnail will be displayed here -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Mô tả sản phẩm</label>
                            <textarea class="form-control" name="mota" id="mota"></textarea>
                            <script>CKEDITOR.replace('mota');</script>
                        </div>
                    </form>
                </div>
                <button class="btn btn-save" type="button" id="saveButton">Tạo</button>
                <a class="btn btn-cancel" href="product-manager.html">Hủy bỏ</a>
            </div>
        </div>
    </div>
</main>
<script src="../../static/seller/js/jquery-3.2.1.min.js"></script>
<script src="../../static/seller/js/popper.min.js"></script>
<script src="../../static/seller/js/bootstrap.min.js"></script>
<script src="../../static/seller/js/main.js"></script>
<script src="../../static/seller/js/plugins/pace.min.js"></script>
<script>
    let additionalImageFiles = [];  // Store additional image files for deletion handling

    // Function to handle main image preview
    function readMainImage(input) {
        const mainThumbbox = document.getElementById('mainThumbbox');
        mainThumbbox.innerHTML = ""; // Clear any existing images

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.style.margin = "10px";
                img.height = 200;  // Main image height
                img.width = 200;   // Main image width
                img.style.objectFit = "cover";  // Cover the thumbnail area
                img.style.position = "relative";

                // Create red "X" icon for removing the image
                const removeButton = document.createElement('span');
                removeButton.innerHTML = "&#10006;";  // Unicode for "X"
                removeButton.style.position = "absolute";
                removeButton.style.top = "5px";
                removeButton.style.right = "5px";
                removeButton.style.color = "red";
                removeButton.style.fontSize = "20px";
                removeButton.style.cursor = "pointer";

                // Remove the main image on click
                removeButton.addEventListener('click', function () {
                    input.value = "";  // Clear the input
                    mainThumbbox.innerHTML = "";  // Remove the preview
                });

                // Create a container for the image and the remove button
                const imageContainer = document.createElement('div');
                imageContainer.style.position = "relative";
                imageContainer.style.display = "inline-block";
                imageContainer.appendChild(img);
                imageContainer.appendChild(removeButton);

                mainThumbbox.appendChild(imageContainer);  // Display the main image
            }

            reader.readAsDataURL(file);
        }
    }
</script>
<script>
    // Function to handle the "Lưu lại" button click event
    document.getElementById("saveButton").addEventListener("click", function () {
        // Display a confirmation popup similar to the delete confirmation
        swal({
            title: "Xác nhận",
            text: "Bạn có chắc chắn muốn tạo sản phẩm này?",
            buttons: ["Hủy bỏ", "Đồng ý"],
        }).then((willSave) => {
            if (willSave) {
                // After confirmation, display success message
                swal("Sản phẩm đã được tạo thành công!", {
                    icon: "success",
                }).then(() => {
                    // After success message, redirect to another page (e.g., back to the order list)
                    window.location.href = "product-manager.html";  // Redirect to order management page
                });
            }
        });
    });
</script>
<script>
    document.getElementById('add-variant').addEventListener('click', function () {
        const variantTemplate = document.querySelector('.variant-item').cloneNode(true);

        // Reset the cloned input fields
        const imageInput = variantTemplate.querySelector('input[type="file"]');
        const imagePreview = variantTemplate.querySelector('#variantThumbbox');

        // Clear the image input and preview
        imageInput.value = "";
        imagePreview.innerHTML = "";

        document.getElementById('variants-container').appendChild(variantTemplate);
    });
</script>
<script>
    // Function to handle variant image preview
    function readVariantImage(input) {
        const variantThumbbox = input.parentNode.nextElementSibling;  // The div for displaying the image
        variantThumbbox.innerHTML = ""; // Clear any existing images

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.style.margin = "10px";
                img.height = 100;  // Thumbnail height
                img.width = 100;   // Thumbnail width
                img.style.objectFit = "cover";

                // Create red "X" icon for removing the image
                const removeButton = document.createElement('span');
                removeButton.innerHTML = "&#10006;";  // Unicode for "X"
                removeButton.style.position = "absolute";
                removeButton.style.top = "5px";
                removeButton.style.right = "5px";
                removeButton.style.color = "red";
                removeButton.style.fontSize = "20px";
                removeButton.style.cursor = "pointer";

                // Remove the variant image on click
                removeButton.addEventListener('click', function () {
                    input.value = "";  // Clear the input
                    variantThumbbox.innerHTML = "";  // Remove the preview
                });

                // Create a container for the image and the remove button
                const imageContainer = document.createElement('div');
                imageContainer.style.position = "relative";
                imageContainer.style.display = "inline-block";
                imageContainer.appendChild(img);
                imageContainer.appendChild(removeButton);

                variantThumbbox.appendChild(imageContainer);  // Display the variant image
            }

            reader.readAsDataURL(file);
        }
    }
</script>
</body>

</html>