<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thêm sản phẩm | Kênh người bán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/seller/css/main.css}">
    <!-- Font-icon seller-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script>

        function readURL(input, thumbimage) {
            if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#thumbimage").attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            } else { // Sử dụng cho IE
                $("#thumbimage").attr('src', input.value);

            }
            $("#thumbimage").show();
            $('.filename').text($("#uploadfile").val());
            $('.Choicefile').css('background', '#14142B');
            $('.Choicefile').css('cursor', 'default');
            $(".removeimg").show();
            $(".Choicefile").unbind('click');

        }

        $(document).ready(function () {
            $(".Choicefile").bind('click', function () {
                $("#uploadfile").click();

            });
            $(".removeimg").click(function () {
                $("#thumbimage").attr('src', '').hide();
                $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
                $(".removeimg").hide();
                $(".Choicefile").bind('click', function () {
                    $("#uploadfile").click();
                });
                $('.Choicefile').css('background', '#14142B');
                $('.Choicefile').css('cursor', 'pointer');
                $(".filename").text("");
            });
        })
    </script>
</head>

<body class="app sidebar-mini rtl">
<style>
    .Choicefile {
        display: block;
        background: #14142B;
        border: 1px solid #fff;
        color: #fff;
        width: 150px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 0px;
        border-radius: 5px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }

    .Choicefile:hover {
        text-decoration: none;
        color: white;
    }

    #uploadfile,
    .removeimg {
        display: none;
    }

    #thumbbox {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .removeimg {
        height: 25px;
        position: absolute;
        background-repeat: no-repeat;
        top: 5px;
        left: 5px;
        background-size: 25px;
        width: 25px;
        /* border: 3px solid red; */
        border-radius: 50%;

    }

    .removeimg::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: '';
        border: 1px solid red;
        background: red;
        text-align: center;
        display: block;
        margin-top: 11px;
        transform: rotate(45deg);
    }

    .removeimg::after {
        /* color: #FFF; */
        /* background-color: #DC403B; */
        content: '';
        background: red;
        border: 1px solid red;
        text-align: center;
        display: block;
        transform: rotate(-45deg);
        margin-top: -2px;
    }
</style>
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li><a class="app-nav__item" href="/homepage"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar">A</div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/images/logo/vj-market.png}"
                                        alt="User Image">
        <br>
        <h3>Trang quản lý bán hàng</h3>
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="/store-info"><i
                class='app-menu__icon bx bx-info-square'></i><span
                class="app-menu__label">Thông tin cửa hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/dashboard"><i
                class='app-menu__icon bx bx-tachometer'></i><span
                class="app-menu__label">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item active" href="/seller-products"><i
                class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item" href="/seller/order-manager"><i
                class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/feedback-manager"><i
                class='app-menu__icon bx bx-list-minus'></i><span class="app-menu__label">Quản lý đánh giá</span></a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách sản phẩm</li>
            <li class="breadcrumb-item">Thêm sản phẩm</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Tạo mới sản phẩm</h3>
                <div class="tile-body">
                    <form class="row" th:action="@{/addProductFull}" method="post" enctype="multipart/form-data">
                        <div th:object="${product2}" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Tên sản phẩm</label>
                                <input class="form-control" type="text" th:field="*{productName}" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mã sản phẩm</label>
                                <input class="form-control" type="text" th:field="*{productCode}" required
                                       maxlength="10">
                            </div>

                            <div class="form-group">
                                <label for="categories-product" class="control-label">Danh mục</label>
                                <select class="form-control" id="categories-product" name="categoryId"
                                        th:field="*{categoryId}" required>
                                    <option value="" disabled>-- Chọn danh mục --</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.categoryId}"
                                            th:text="${category.categoryName}"
                                    >
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Giá bán(VND)</label>
                                <input class="form-control" type="number" th:field="*{price}" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Khối lượng(kg)</label>
                                <input class="form-control" type="number" step="0.01" th:field="*{weight}" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mô tả sản phẩm</label>
                                <textarea class="form-control" th:field="*{productDescription}" required></textarea>
                            </div>
                        </div>

                        <div th:object="${productImage2}" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Tên ảnh sản phẩm</label>
                                <input class="form-control" type="text" th:field="*{imageName}" name="imageName"
                                       required>
                            </div>
                            <div class="form-group">
                                <!-- Thumbnail Image Upload -->
                                <label class="control-label">Thumbnail</label>
                                <input class="form-control" type="file" id="thumbnail" name="thumbnail" accept="image/*"
                                       onchange="previewImage(this, 'thumbnailPreview')" required/>
                                <div id="thumbnailPreview" class="image-preview"></div>
                            </div>

                            <div class="form-group">
                                <!-- 1st Image Upload -->
                                <label class="control-label">1st Image</label>
                                <input class="form-control" type="file" id="firstImage" name="firstImage"
                                       accept="image/*" onchange="previewImage(this, 'firstImagePreview')"/>
                                <div id="firstImagePreview" class="image-preview"></div>
                            </div>

                            <div class="form-group">
                                <!-- 2nd Image Upload -->
                                <label class="control-label">2nd Image</label>
                                <input class="form-control" type="file" id="secondImage" name="secondImage"
                                       accept="image/*" onchange="previewImage(this, 'secondImagePreview')"/>
                                <div id="secondImagePreview" class="image-preview"></div>
                            </div>

                            <div class="form-group">
                                <!-- 3rd Image Upload -->
                                <label class="control-label">3rd Image</label>
                                <input class="form-control" type="file" id="thirdImage" name="thirdImage"
                                       accept="image/*" onchange="previewImage(this, 'thirdImagePreview')"/>
                                <div id="thirdImagePreview" class="image-preview"></div>
                            </div>
                        </div>

                        <div th:object="${productVariation2}" class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Màu sắc</label>
                                <select class="form-control" th:field="*{color.colorId}" required>
                                    <option value="" disabled selected>-- Chọn màu sắc --</option>
                                    <option th:each="color : ${colors}" th:value="${color.colorId}"
                                            th:text="${color.colorName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Loại</label>
                                <select class="form-control" th:field="*{size.sizeId}" required>
                                    <option value="" disabled selected>-- Chọn kích thước --</option>
                                    <option th:each="size : ${sizes}" th:value="${size.sizeId}"
                                            th:text="${size.sizeName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Số lượng</label>
                                <input class="form-control" type="number" th:field="*{stock}" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-save" type="submit">Tạo sản phẩm mới</button>
                        </div>
                    </form>
                    <div th:if="${successMessage}" class="alert alert-success" role="alert">
                        <span th:text="${successMessage}"></span>
                    </div>
                    <div th:if="${errorMessage}" class="alert alert-success" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
<script th:src="@{/seller/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/seller/js/popper.min.js}"></script>
<script th:src="@{/seller/js/bootstrap.min.js}"></script>
<script th:src="@{/seller/js/main.js}"></script>
<script th:src="@{/seller/js/plugins/pace.min.js}"></script>
<script>
    function previewImage(input, previewId) {
        const previewDiv = document.getElementById(previewId);
        previewDiv.innerHTML = ""; // Clear any existing content

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.style.margin = "10px";
                img.height = 150;
                img.width = 150;
                img.style.objectFit = "cover";

                // Create a small "X" button to delete the image
                const removeButton = document.createElement('span');
                removeButton.innerHTML = "&#10006;";  // Unicode for "X"
                removeButton.style.position = "absolute";
                removeButton.style.top = "5px";
                removeButton.style.right = "5px";
                removeButton.style.color = "red";
                removeButton.style.fontSize = "20px";
                removeButton.style.cursor = "pointer";

                // Function to remove the image preview
                removeButton.onclick = function () {
                    input.value = "";  // Clear the input
                    previewDiv.innerHTML = "";  // Remove the preview
                };

                // Create a container for the image and remove button
                const imageContainer = document.createElement('div');
                imageContainer.style.position = "relative";
                imageContainer.style.display = "inline-block";
                imageContainer.appendChild(img);
                imageContainer.appendChild(removeButton);

                previewDiv.appendChild(imageContainer);
            };

            reader.readAsDataURL(file);
        }
    }
</script>
</body>

</html>