<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Danh sách đơn hàng | Kênh người bán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/seller/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon seller-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li><a class="app-nav__item" href="/logout"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/images/logo/vj-market.png}"
                                        alt="User Image">
        <br>
        <h3 th:text="#{sidebar.user.management}">Trang quản lý bán hàng</h3>
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="/store-info"><i
                class='app-menu__icon bx bx-info-square'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.store.info}">Thông tin cửa hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/dashboard"><i
                class='app-menu__icon bx bx-tachometer'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.dashboard}">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item" href="/seller-products"><i
                class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.product.manager}">Quản lý sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item active" href="/seller/order-manager"><i
                class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.order.manager}">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/feedback-manager"><i
                class='app-menu__icon bx bx-list-minus'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.feedback.manager}">Quản lý đánh giá</span></a>
        </li>
        <li><a class="app-menu__item" href="/seller/wallet"><i
                class='app-menu__icon bx bx-money'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.wallet}">Ví</span></a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><b th:text="#{order.seller.list}">Danh sách đơn hàng</b></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div th:if="${message != null}"
                         class="alert alert-dismissible"
                         th:classappend="${messageType == 'success'} ? 'alert-success' : 'alert-danger'">
                        <!--                        <button type="button" class="btn-close" data-bs-dismiss="alert"-->
                        <!--                                aria-label="Close"></button>-->
                        <p th:text="${message}"></p>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12">
                            <form th:action="@{/seller/order-manager}" method="get" class="form-inline">
                                <!-- Status Filter -->
                                <div class="form-group mr-3">
                                    <label for="statusFilter" class="mr-2" th:text="#{order.seller.filterbyStatus}">Lọc
                                        theo trạng thái:</label>
                                    <select id="statusFilter" name="status" class="form-control"
                                            onchange="this.form.submit()">
                                        <option value="" th:selected="${status == null || status.isEmpty()}" selected
                                                th:text="#{filter.status.all}">
                                            Tất cả
                                        </option>
                                        <option value="Pending" th:selected="${status == 'Pending'}"
                                                th:text="#{status.pending}">Chờ xử lý
                                        </option>
                                        <option value="Confirmed" th:selected="${status == 'Confirmed'}"
                                                th:text="#{status.confirmed}">Xác nhận
                                        </option>
                                        <option value="Processing" th:selected="${status == 'Processing'}"
                                                th:text="#{status.processing}">Đang đóng
                                            gói
                                        </option>
                                        <option value="Dispatched" th:selected="${status == 'Dispatched'}"
                                                th:text="#{status.dispatched}">Đã giao cho
                                            vận chuyển
                                        </option>
                                        <option value="Shipping" th:selected="${status == 'Shipping'}"
                                                th:text="#{status.shipping}">Đang vận chuyển
                                        </option>
                                        <option value="Delivered" th:selected="${status == 'Delivered'}"
                                                th:text="#{status.delivered}">Đã giao
                                        </option>
                                        <option value="Completed" th:selected="${status == 'Completed'}"
                                                th:text="#{status.completed}">Hoàn tất
                                        </option>
                                        <option value="Failed" th:selected="${status == 'Failed'}"
                                                th:text="#{status.failed}">Thất bại
                                        </option>
                                        <option value="Returned" th:selected="${status == 'Returned'}"
                                                th:text="#{status.returned}">Hoàn trả
                                        </option>
                                        <option value="Cancelled" th:selected="${status == 'Cancelled'}"
                                                th:text="#{status.cancelled}">Đã hủy
                                        </option>
                                    </select>
                                </div>
                                <!-- Start Date Filter -->
                                <div class="form-group mr-3">
                                    <label for="startDate" class="mr-2" th:text="#{order.from}">Từ ngày:</label>
                                    <input type="date" id="startDate" name="startDate" class="form-control"
                                           th:value="${startDate}">
                                </div>
                                <!-- End Date Filter -->
                                <div class="form-group mr-3">
                                    <label for="endDate" class="mr-2" th:text="#{order.to}">Đến ngày:</label>
                                    <input type="date" id="endDate" name="endDate" class="form-control"
                                           th:value="${endDate}">
                                </div>
                                <!-- Submit and Reset Buttons -->
                                <button type="submit" class="btn btn-primary mr-2" th:text="#{order.filter}">Lọc
                                </button>
                                <a href="/seller/order-manager" class="btn btn-secondary"
                                   th:text="#{order.seller.resetFilter}">Xóa</a>
                            </form>
                        </div>
                        <div class="mt-3">
                            <!-- Button to Confirm All Pending Orders -->
                            <form th:if="${status == 'Pending'}" th:action="@{/seller/bulk-update-status}" method="post"
                                  id="bulkFormPending">
                                <input type="hidden" name="statusFilter" th:value="${status}"/>
                                <input type="hidden" name="startDate" th:value="${startDate}"/>
                                <input type="hidden" name="endDate" th:value="${endDate}"/>
                                <input type="hidden" name="newStatus" value="Confirmed"/>
                                <button type="button" class="btn btn-outline-success"
                                        onclick="openBulkConfirmModal('bulkFormPending')"
                                        th:text="#{order.seller.confirmAllPending}">
                                    Xác nhận tất cả đơn hàng Chờ xử lý
                                </button>
                            </form>

                            <!-- Button to Process All Confirmed Orders -->
                            <form th:if="${status == 'Confirmed'}" th:action="@{/seller/bulk-update-status}"
                                  method="post" id="bulkFormConfirmed">
                                <input type="hidden" name="statusFilter" th:value="${status}"/>
                                <input type="hidden" name="startDate" th:value="${startDate}"/>
                                <input type="hidden" name="endDate" th:value="${endDate}"/>
                                <input type="hidden" name="newStatus" value="Processing"/>
                                <button type="button" class="btn btn-outline-warning"
                                        onclick="openBulkConfirmModal('bulkFormConfirmed')"
                                        th:text="#{order.seller.processAllConfirmed}">
                                    Đang đóng gói tất cả đơn hàng Xác nhận
                                </button>
                            </form>

                            <form th:if="${status == 'Processing'}" th:action="@{/seller/bulk-update-status}"
                                  method="post" id="bulkFormProcessing">
                                <input type="hidden" name="statusFilter" th:value="${status}"/>
                                <input type="hidden" name="startDate" th:value="${startDate}"/>
                                <input type="hidden" name="endDate" th:value="${endDate}"/>
                                <input type="hidden" name="newStatus" value="Dispatched"/>
                                <button type="button" class="btn btn-outline-info"
                                        onclick="openBulkConfirmModal('bulkFormProcessing')"
                                        th:text="#{order.seller.dispatchAllProcessing}">
                                    Đã giao tất cả cho vận chuyển
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                    <tr>
                        <th data-order="desc" th:text="#{order.seller.orderId}">ID Đơn hàng</th>
                        <th th:text="#{order.seller.customer}">Khách hàng</th>
                        <th th:text="#{order.seller.products}">Đơn hàng</th>
                        <th th:text="#{order.seller.quantity}">Số lượng</th>
                        <th th:text="#{order.seller.totalPrice}">Tổng tiền</th>
                        <th th:text="#{order.seller.orderDate}">Ngày tạo</th>
                        <th th:text="#{order.seller.status}">Tình trạng</th>
                        <th th:text="#{order.seller.actions}">Tính năng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.customerName}"></td>
                        <td th:text="${order.productNames}"></td>
                        <td th:text="${order.totalProducts}"></td>
                        <td th:text="${order.getPriceFormated()}"></td>
                        <td th:text="${order.getFormattedOrderDate()}"></td>
                        <td>
                            <form method="post" th:action="@{/seller/update-order-status}">
                                <input type="hidden" name="orderId" th:value="${order.orderId}"/>
                                <select class="form-control status-dropdown" id="order-status" name="status"
                                        th:value="${order.latestStatus}"
                                        data-current-status="${order.latestStatus}">
                                    <option value="Pending" th:selected="${order.latestStatus == 'Pending'}"
                                            disabled th:text="#{status.pending}">Chờ xử lý
                                    </option>
                                    <option value="Confirmed" th:selected="${order.latestStatus == 'Confirmed'}"
                                            th:disabled="${order.latestStatus != 'Pending'}"
                                            th:text="#{status.confirmed}">Xác nhận
                                    </option>
                                    <option value="Processing" th:selected="${order.latestStatus == 'Processing'}"
                                            th:disabled="${order.latestStatus != 'Pending' && order.latestStatus != 'Confirmed'}"
                                            th:text="#{status.processing}">
                                        Đang xử đóng gói
                                    </option>
                                    <option value="Dispatched" th:selected="${order.latestStatus == 'Dispatched'}"
                                            th:disabled="${order.latestStatus != 'Pending' && order.latestStatus != 'Confirmed' && order.latestStatus != 'Processing' } "
                                            th:text="#{status.dispatched}">
                                        Đã giao cho vận chuyển
                                    </option>
                                    <option value="Shipping" th:selected="${order.latestStatus == 'Shipping'} "
                                            disabled th:text="#{status.shipping}">Đang vận chuyển
                                    </option>
                                    <option value="Delivered" th:selected="${order.latestStatus == 'Delivered'}"
                                            disabled th:text="#{status.delivered}">Đã giao
                                    </option>
                                    <option value="Completed" th:selected="${order.latestStatus == 'Completed'}"
                                            disabled th:text="#{status.completed}">Hoàn tất
                                    </option>
                                    <option value="Failed" th:selected="${order.latestStatus == 'Failed'}" disabled
                                            th:text="#{status.failed}">
                                        Giao hàng thất bại
                                    </option>
                                    <option value="Returned" th:selected="${order.latestStatus == 'Returned'}"
                                            disabled th:text="#{status.returned}">Hoàn trả
                                    </option>
                                    <option value="Cancelled" th:selected="${order.latestStatus == 'Cancelled'}"
                                            disabled th:text="#{status.cancelled}">Đã hủy
                                    </option>
                                    <option th:if="${order.previous_status != null}" value="Canceled"
                                            th:selected="${order.previous_status == 'Returned'}"
                                            disabled th:text="#{order.seller.isReturn}">Đã hoàn trả
                                    </option>
                                    <option  value="Rejected"
                                            th:selected="${order.latestStatus == 'Rejected'}"
                                            disabled>Từ chối nhận đơn
                                    </option>
                                </select>
                            </form>

                        </td>
                        <td style="display: flex; gap: 5px">
                            <!--                            <div>-->
                            <!--                                <p>Latest Status: <span th:text="${order.latestStatus}"></span></p>-->
                            <!--                                <p>Previous Status: <span th:text="${order.previous_status}"></span></p>-->
                            <!--                            </div>-->
                            <a th:href="@{/seller/order-detail/{orderId}(orderId=${order.orderId})}">
                                <button class="btn btn-primary btn-sm edit" type="button"
                                        th:title="#{order.seller.viewDetail}">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </a>
                            <form th:if="${order.latestStatus == 'Returned' && order.previous_status !=  'Returned'}"
                                  th:attr="data-order-id=${order.orderId}" th:action="@{/seller/return}"
                                  method="post">
                                <input type="hidden" name="storeId" th:value="${storeId}">
                                <input type="hidden" name="orderId" th:value="${order.orderId}">
                                <button
                                        class="btn btn-primary btn-sm btn-save"
                                        type="button"
                                        th:title="#{order.seller.acceptOrder}"
                                        th:data-order-id="${order.orderId}"
                                        th:data-order-reason="${order.reason != null ? order.reason : ''}"
                                        onclick="openAcceptModal(this)">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </form>
                            <form th:if="${order.latestStatus == 'Pending'}"
                                  th:attr="data-order-id=${order.orderId}" th:action="@{/seller/reject}"
                                  method="post">
                                <input type="hidden" name="storeId" th:value="${storeId}">
                                <input type="hidden" name="orderId" th:value="${order.orderId}">
                                <button
                                        class="btn btn-danger btn-sm btn-save"
                                        type="button"
                                        th:title="#{order.seller.acceptOrder}"
                                        th:data-order-id="${order.orderId}"
                                        onclick="openRejectModal(this)">
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bulk Confirmation Modal -->
    <div id="bulkConfirmModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeBulkConfirmModal()">&times;</span>
            <h2 class="modal-title" th:text="#{order.seller.modal.confirmStatusChange}">Xác nhận thay đổi trạng
                thái</h2>
            <p id="bulkConfirmMessage"></p>
            <div class="modal-buttons">
                <button id="confirmBulkBtn" class="btn btn-success" th:text="#{order.seller.modal.agree}">Đồng ý
                </button>
                <button class="btn btn-danger" onclick="closeBulkConfirmModal()" th:text="#{order.seller.modal.cancel}">
                    Hủy bỏ
                </button>
            </div>
        </div>
    </div>

    <!-- Modal Confirmation -->
    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 class="modal-title" th:text="#{order.seller.modal.confirmStatusChange}">Xác nhận thay đổi trạng
                thái</h2>
            <p th:text="#{order.seller.modal.confirmStatusChangeMessage}">Bạn có chắc chắn muốn thay đổi trạng thái đơn
                hàng này thành "Đã giao cho vận chuyển"? <br><span
                        style="color: red;" th:text="#{order.seller.modal.confirmStatusNoti}">Hành động này không thể hoàn tác!</span>
            </p>
            <div class="modal-buttons">
                <button id="confirmBtn" class="btn btn-success" th:text="#{order.seller.modal.agree}">Đồng ý</button>
                <button class="btn btn-danger" onclick="closeModal()" th:text="#{order.seller.modal.cancel}">Hủy bỏ
                </button>
            </div>
        </div>
    </div>
    <div id="acceptModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeAcceptModal()">&times;</span>
            <h2 class="modal-title" th:text="#{order.seller.modal.acceptOrderMessage}">Xác nhận chấp nhận đơn hàng</h2>
            <p>
                <strong th:text="#{order.seller.modal.reason}">Lý do trả hàng:</strong>
                <span id="acceptOrderReason" style="color: red;"></span>
            </p>
            <p th:text="#{order.seller.modal.acceptOrderMessageThisOrder}">Bạn có chắc chắn muốn chấp nhận đơn hàng
                này?</p>
            <div class="modal-buttons">
                <button id="confirmAcceptOrderBtn" class="btn btn-success" th:text="#{order.seller.modal.agree}">Đồng
                    ý
                </button>
                <button class="btn btn-danger" onclick="closeAcceptModal()" th:text="#{order.seller.modal.cancel}">Hủy
                    bỏ
                </button>
            </div>
        </div>
    </div>
    <div id="rejectModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeRejectModal()">&times;</span>
            <h2 class="modal-title">Xác nhận từ chối nhận đơn hàng</h2>
            <p>Bạn có chắc chắn muốn từ chối đơn hàng
                này?</p>
            <div class="modal-buttons">
                <button id="confirmRejectOrderBtn" class="btn btn-success" th:text="#{order.seller.modal.agree}">Đồng
                    ý
                </button>
                <button class="btn btn-danger" onclick="closeRejectModal()" th:text="#{order.seller.modal.cancel}">Hủy
                    bỏ
                </button>
            </div>
        </div>
    </div>

    <script>
        // Open the modal
        // Open the modal and store the form reference
        function openModal(select) {
            const form = select.closest("form"); // Get the closest form element

            // Display the modal
            document.getElementById('confirmModal').style.display = 'block';

            // Bind the click event for the confirm button (bind only once)
            const confirmButton = document.getElementById('confirmBtn');
            confirmButton.onclick = function () {
                // Submit the form after user confirms
                swal({
                    title: "Xác nhận",
                    text: "Trạng thái đã được thay đổi thành công.",
                    icon: "success",
                    buttons: false,
                    timer: 1500
                }).then(() => {
                    form.submit(); // Submit the specific form
                    closeModal();
                });
            };
        }

        // Close the modal
        function closeModal() {
            document.getElementById('confirmModal').style.display = 'none';
            // location.reload();
        }

        // Handle status dropdown changes
        document.querySelectorAll('.status-dropdown').forEach(function (select) {
            select.addEventListener('change', function () {
                handleStatusChange(select);
            });
        });

        function handleStatusChange(select) {
            const selectedStatus = select.value;

            // Trigger modal only for "Dispatched"
            if (selectedStatus === 'Dispatched') {
                openModal(select); // Pass the select element
            } else {
                select.closest("form").submit(); // Submit directly for other statuses
            }
        }

        // for accept modal

        function openAcceptModal(button) {
            // Retrieve orderId and reason from data attributes
            var orderId = button.getAttribute('data-order-id');
            var reason = button.getAttribute('data-order-reason') || "Không có lý do";

            // Set the reason in the modal
            document.getElementById("acceptOrderReason").innerText = reason;

            // Store the order ID for the confirm action
            document.getElementById("confirmAcceptOrderBtn").setAttribute("data-order-id", orderId);

            // Show the modal
            document.getElementById("acceptModal").style.display = "block";
        }

        function openRejectModal(button) {
            var orderId = button.getAttribute('data-order-id');


            // Store the order ID for the confirm action
            document.getElementById("confirmRejectOrderBtn").setAttribute("data-order-id", orderId);

            // Show the modal
            document.getElementById("rejectModal").style.display = "block";
        }


        function closeAcceptModal() {
            // Hide the modal
            document.getElementById("acceptModal").style.display = "none";

        }

        function closeRejectModal() {
            // Hide the modal
            document.getElementById("rejectModal").style.display = "none";

        }

        // Handle confirm accept button click
        document.getElementById("confirmAcceptOrderBtn").addEventListener("click", function () {
            const orderId = this.getAttribute("data-order-id");

            // Submit the form or send an API request
            document.querySelector(`form[data-order-id="${orderId}"]`).submit();
        });
        // Handle confirm reject button click
        document.getElementById("confirmRejectOrderBtn").addEventListener("click", function () {
            const orderId = this.getAttribute("data-order-id");
            // Submit the form that matches this order ID
            document.querySelector(`form[data-order-id="${orderId}"]`).submit();
        });


    </script>
</main>
<!-- Essential javascripts for application to work-->
<script th:src="@{/seller/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/seller/js/popper.min.js}"></script>
<script th:src="@{/seller/js/bootstrap.min.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{/seller/js/jquery.table2excel.js}"></script>
<script th:src="@{/seller/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/seller/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin -->
<script th:src="@{/seller/js/plugins/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/seller/js/plugins/dataTables.bootstrap.min.js}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sampleTable').DataTable({
            "order": [] // Allows table to read `data-order` attributes for initial sorting
        });
    });
</script>

<script>
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }

    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }

</script>
<script th:inline="javascript">
    // Function to open the bulk confirmation modal
    function openBulkConfirmModal(formId) {
        let newStatus;
        let message = "";

        if (formId === 'bulkFormPending') {
            newStatus = 'Confirmed';
            message = /*[[#{bulk.modal.message.pending.to.confirmed}]]*/ 'Bạn có chắc chắn muốn thay đổi tất cả đơn hàng "Chờ xử lý" thành "Xác nhận"?';
        } else if (formId === 'bulkFormConfirmed') {
            newStatus = 'Processing';
            message = /*[[#{bulk.modal.message.confirmed.to.processing}]]*/ 'Bạn có chắc chắn muốn thay đổi tất cả đơn hàng "Xác nhận" thành "Đang xử lý"?';
        } else if (formId === 'bulkFormProcessing') {
            newStatus = 'Dispatched';
            message = /*[[#{bulk.modal.message.processing.to.dispatched}]]*/ 'Bạn có chắc chắn muốn thay đổi tất cả đơn hàng "Đang xử lý" thành "Đã giao cho vận chuyển"?';
        }

        const bulkConfirmMessage = document.getElementById('bulkConfirmMessage');
        const bulkConfirmModal = document.getElementById('bulkConfirmModal');
        const confirmBulkBtn = document.getElementById('confirmBulkBtn');

        if (!bulkConfirmMessage || !bulkConfirmModal || !confirmBulkBtn) {
            console.error('Bulk confirmation modal elements not found.');
            return;
        }

        bulkConfirmMessage.innerHTML = message + '<br><span style="color: red;">' + /*[[#{bulk.modal.action.irreversible}]]*/ 'Hành động này không thể hoàn tác!' + '</span>';
        bulkConfirmModal.style.display = 'block';

        // Store the form ID in the confirm button's data attribute
        confirmBulkBtn.setAttribute('data-form-id', formId);
    }

    // Function to close the bulk confirmation modal
    function closeBulkConfirmModal() {
        const bulkConfirmModal = document.getElementById('bulkConfirmModal');
        if (bulkConfirmModal) {
            bulkConfirmModal.style.display = 'none';
        }
    }

    // Handle the confirm button click in the bulk confirmation modal
    document.getElementById('confirmBulkBtn').addEventListener('click', function () {
        const formId = this.getAttribute('data-form-id');
        const form = document.getElementById(formId);

        if (!form) {
            console.error(`Form with ID '${formId}' not found.`);
            closeBulkConfirmModal();
            return;
        }

        form.submit(); // Submit the corresponding form
        closeBulkConfirmModal();
    });
</script>

<!---->


</body>

</html>