<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Danh sách sản phẩm | Kênh người bán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" th:href="@{/seller/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon seller-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <style>
        .variation-size-list, .variation-stock-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 0;
        }

        .variation-size-list li, .variation-stock-list li {
            display: flex;
            align-items: center;
            height: 40px; /* Đảm bảo chiều cao cố định */
            list-style: none;
        }

        .variation-stock-list li {
            display: flex;
            justify-content: flex-end; /* Đẩy nội dung sát lề phải */
            align-items: center;
            height: 40px; /* Đảm bảo chiều cao cố định */
            list-style: none;
        }
    </style>
</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li><a class="app-nav__item" href="/logout"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/images/logo/vj-market.png}"
                                        alt="User Image">
        <br>
        <h3 th:text="#{sidebar.user.management}">Trang quản lý bán hàng</h3>
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="/store-info"><i
                class='app-menu__icon bx bx-info-square'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.store.info}">Thông tin cửa hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/dashboard"><i
                class='app-menu__icon bx bx-tachometer'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.dashboard}">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item active" href="/seller-products"><i
                class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.product.manager}">Quản lý sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item" href="/seller/order-manager"><i
                class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.order.manager}">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/feedback-manager"><i
                class='app-menu__icon bx bx-list-minus'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.feedback.manager}">Quản lý đánh giá</span></a>
        </li>
        <li><a class="app-menu__item" href="wallet.html"><i
                class='app-menu__icon bx fa-box-usd'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.wallet}">Ví</span></a></li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><b th:text="#{product.list.title}">Danh sách sản phẩm</b></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <!-- Success and Error Messages -->
                    <!-- Success Message -->
                    <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong th:text="#{product.success}">Thành công!</strong> <span
                            th:text="${successMessage}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Đóng">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Error Message -->
                    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong th:text="#{product.error}">Lỗi!</strong> <span th:text="${errorMessage}"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Đóng">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Action Buttons -->
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" th:href="@{'/addProductForm2/' + ${storeId}}" title="Thêm"><i
                                    class="fas fa-plus"></i> <span
                                    th:text="#{product.create.new}">Tạo mới sản phẩm</span></a>
                        </div>
                        <!-- Các button khác như Tải từ file, In, Sao chép, Xuất Excel, Xuất PDF, Xóa tất cả -->
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{product.code}">Mã sản phẩm</th>
                            <th scope="col" th:text="#{product.name}">Tên sản phẩm</th>
                            <th scope="col" th:text="#{product.image}">Ảnh</th>
                            <th scope="col" th:text="#{product.type.color}">Loại x Màu sắc</th>
                            <th scope="col" th:text="#{product.quantity}">Số lượng</th>
                            <th scope="col" th:text="#{product.price}">Giá tiền</th>
                            <th scope="col" th:text="#{product.category}">Danh mục</th>
                            <th scope="col" th:text="#{product.created.date}">Ngày tạo</th>
                            <th scope="col" th:text="#{product.actions}">Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td th:text="${product.productCode}"></td>
                            <td th:text="${product.productName}"></td>
                            <td>
                                <img th:if="${product.productVariations != null && product.productVariations.size() > 0}"
                                     th:src="${product.productVariations.get(0).imageId != null ? product.productVariations.get(0).imageId.thumbnail : '/images/default-thumbnail.png'}"
                                     alt="Product Image" width="150px">
                            </td>
                            <td>
                                <ul class="variation-size-list">
                                    <li th:each="variation : ${product.productVariations}">
                                        <span th:text="${variation.size?.sizeName} + ' x ' + ${variation.color?.colorName}"></span>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="variation-stock-list">
                                    <li th:each="variation : ${product.productVariations}"
                                        class="d-flex align-items-center">
                                        <span th:text="${variation.stock <= 0 ? 0 : variation.stock}"></span>
                                        <!-- Pen Icon Button -->
                                        <button type="button" class="btn btn-link btn-sm edit-stock-btn"
                                                data-toggle="modal"
                                                data-target="#updateStockModal"
                                                th:attr="data-variation-id=${variation.variationId}, data-stock=${variation.stock}">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </li>
                                </ul>
                            </td>

                            <td th:text="${product.getPriceFormated()}"></td>
                            <td th:text="${product.categoryId != null ? product.categoryId.categoryName : 'N/A'}"></td>
                            <td th:text="${product.createdAt != null ? #temporals.format(product.createdAt, 'yyyy-MM-dd') : 'N/A'}"></td>
                            <td>
                                <a th:href="@{'/edit-product/' + ${product.productId}}">
                                    <button class="btn btn-primary btn-sm edit" type="button"
                                            th:title="#{product.edit}"><i
                                            class="fas fa-edit"></i></button>
                                </a>
                                <a th:href="@{'/delete-product/' + ${product.productId}}"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')">
                                    <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"><i
                                            class="fas fa-trash-alt"></i></button>
                                </a>
                                <a th:href="@{'/addProductVariationForm/' + ${product.productId}}">
                                    <button class="btn btn-primary btn-sm edit" type="button"
                                            th:title="#{product.add.variation}"><i
                                            class="fas fa-plus-square"></i></button>
                                </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</main>

<!-- Update Stock Modal -->
<div class="modal fade" id="updateStockModal" tabindex="-1" role="dialog" aria-labelledby="updateStockModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="updateStockForm" method="post" th:action="@{/update-stock}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateStockModalLabel" th:text="#{product.update.stock}">Cập nhật số
                        lượng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Hidden input to store variation ID -->
                    <input type="hidden" id="variationId" name="variationId">

                    <!-- Display current stock -->
                    <div class="form-group">
                        <label for="currentStock" th:text="#{product.stock.current}">Số lượng hiện tại:</label>
                        <input type="number" class="form-control" id="currentStock" name="currentStock" readonly>
                    </div>

                    <!-- Input for new stock -->
                    <div class="form-group">
                        <label for="newStock" th:text="#{product.stock.new}">Số lượng mới:</label>
                        <input type="number" class="form-control" id="newStock" name="newStock" required min="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:text="#{product.stock.cancel}">Hủy bỏ
                    </button>
                    <button type="submit" class="btn btn-primary" th:text="#{product.stock.submit}">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Essential javascripts for application to work-->
<script th:src="@{/seller/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/seller/js/popper.min.js}"></script>
<script th:src="@{/seller/js/bootstrap.min.js}"></script>
<script th:src="@{/seller/js/jquery.table2excel.js}"></script>
<script th:src="@{/seller/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/seller/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin -->
<script th:src="@{/seller/js/plugins/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/seller/js/plugins/dataTables.bootstrap.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    $('#sampleTable').DataTable();

    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>
<script>
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);
    }

    jQuery(function () {
        jQuery(".trash").click(function () {
            swal({
                title: "Cảnh báo",
                text: "Bạn có chắc chắn là muốn xóa sản phẩm này?",
                buttons: ["Hủy bỏ", "Đồng ý"],
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Đã xóa thành công.!", {});
                    }
                }).then(() => {
                // After success message, redirect to another page (e.g., back to the order list)
                window.location.reload();  // Redirect to order management page
            });
        });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });
</script>

<script>
    $(document).ready(function () {
        // When the modal is about to be shown
        $('#updateStockModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var variationId = button.data('variation-id'); // Extract info from data-* attributes
            var currentStock = button.data('stock');

            console.log("Variation ID:", variationId);
            console.log("Current Stock:", currentStock);

            // Update the modal's content.
            var modal = $(this);
            modal.find('#variationId').val(variationId);
            modal.find('#currentStock').val(currentStock);
            modal.find('#newStock').val(currentStock); // Optionally initialize with current stock
        });
    });
</script>

</body>

</html>
