<!DOCTYPE html>
<html lang="en">

<head>
    <title>Danh sách đánh giá | Kênh người bán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" th:href="@{/seller/css/main.css}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon seller-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li><a class="app-nav__item" href="/index.html"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="#" width="50px"
                                        alt="User Image">
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="store-info-manager.html"><i class='app-menu__icon bx bx-info-square'></i><span
                class="app-menu__label">Thông tin cửa hàng</span></a></li>
        <li><a class="app-menu__item " href="dashboard.html"><i class='app-menu__icon bx bx-tachometer'></i><span
                class="app-menu__label">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item" href="product-manager.html"><i
                class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item" href="order-manager.html"><i class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item active" href="/seller/feedback-manager"><i
                class='app-menu__icon bx bx-list-minus'></i><span class="app-menu__label">Quản lý đánh giá</span></a>
        </li>
        <li><a class="app-menu__item" href="shipping-manager.html"><i
                class='app-menu__icon bx bx-run'></i><span class="app-menu__label">Quản lý vận chuyển</span></a>
        </li>
        <li><a class="app-menu__item" href="income-manager.html"><i
                class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh thu</span></a>
        </li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh sách đánh giá</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <h2>Phản hồi đánh giá của khách hàng</h2>
                    <div>
                        <p><strong>Tên sản phẩm:</strong> <span th:text="${feedback.getVariationId().getProductId().getProductName()}"></span></p>
                        <p><strong>Đánh giá của khách hàng:</strong> <span th:text="${feedback.getComment()}"></span></p>
                        <p><strong>Xếp hạng:</strong> <span th:text="${feedback.getRating()} + ' sao'"></span></p>
                        <p><strong>Ngày đánh giá:</strong> <span th:text="${feedback.getCreatedAt()}"></span></p>
                    </div>
                    <form>
                        <input type="hidden" name="feedback_id" th:value="${feedback.feedbackId}" />
                        <label for="reply">Nội dung phản hồi:</label><br>
                        <textarea id="reply" name="reply_content" rows="4" cols="50" th:text="${feedback.getSellerFeedback()}"></textarea><br><br>
                        <button class="btn btn-save" type="submit" id="saveButton">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Essential javascripts for application to work-->
<script th:src="@{/seller/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/seller/js/popper.min.js}"></script>
<script th:src="@{/seller/js/bootstrap.min.js}"></script>
<script th:src="@{/seller/js/main.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="src/jquery.table2excel.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/seller/js/plugins/pace.min.js}"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<script th:src="@{/seller/js/plugins/jquery.dataTables.min.js}"></script>
<script th:src="@{/seller/js/plugins/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>
<script>
    document.getElementById("saveButton").addEventListener("click", function (event) {
        // Ngăn chặn form tự động submit
        event.preventDefault();

        const feedbackId = $("input[name='feedback_id']").val();
        const content = $("textarea[name='reply_content']").val();

        if ((!content || /^\s*$/.test(content))) {
            alert("Your feedback should not be empty");
            return;
        }


        // Hiển thị hộp thoại xác nhận
        swal({
            title: "Xác nhận",
            text: "Bạn có muốn gửi phản hồi này không?",
            buttons: ["Hủy bỏ", "Đồng ý"],
        }).then((willSave) => {
            if (willSave) {
                fetch(`/seller/seller-feedback?` + new URLSearchParams({
                    feedback_id: feedbackId,
                    reply_content: content,
                }).toString()).then(res => {
                    if (res.ok) {
                        // Sau khi xác nhận, hiển thị thông báo thành công
                        swal("Phản hồi của bạn đã được gửi!", {
                            icon: "success",
                        }).then(() => {
                            // Sau khi thông báo thành công, chuyển hướng đến trang quản lý đánh giá
                            window.location.href = '';
                        });
                    }
                })
            }
        });
    });
</script>
</body>

</html>