<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thông tin cửa hàng | Kênh người bán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" th:href="@{/seller/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon seller -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">


</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li><a class="app-nav__item" href="/logout"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/images/logo/vj-market.png}"
                                        alt="User Image">
        <br>
        <h3 th:text="#{sidebar.user.management}">Trang quản lý bán hàng</h3>
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item active" href="/store-info"><i
                class='app-menu__icon bx bx-info-square'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.store.info}">Thông tin cửa hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/dashboard"><i
                class='app-menu__icon bx bx-tachometer'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.dashboard}">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item" href="/seller-products"><i
                class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.product.manager}">Quản lý sản phẩm</span></a>
        </li>
        <li><a class="app-menu__item" href="/seller/order-manager"><i
                class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.order.manager}">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="/seller/feedback-manager"><i
                class='app-menu__icon bx bx-list-minus'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.feedback.manager}">Quản lý đánh giá</span></a>
        </li>
        <li><a class="app-menu__item" href="wallet.html"><i
                class='app-menu__icon bx fa-box-usd'></i><span
                class="app-menu__label" th:text="#{sidebar.menu.wallet}">Ví</span></a></li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item" th:text="#{store.info.title}">Thông tin cửa hàng</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title" th:text="#{store.info.title}">Thông tin cửa hàng</h3>
                <div class="tile-body">
                    <!-- Update the form to support file upload -->
                    <form class="row" th:action="@{/store-save}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="storeId" th:value="${store.storeId}">
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.name}">Tên cửa hàng</label>
                            <input class="form-control" type="text" name="storeName" th:value="${store.storeName}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.phone}">Điện thoại</label>
                            <input class="form-control" type="text" name="storePhone" th:value="${store.storePhone}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.email}">Email</label>
                            <input class="form-control" type="text" name="storeMail" th:value="${store.storeMail}"
                                   readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.postalCode}">Mã Bưu Điện</label>
                            <input class="form-control" type="text" name="postalCode" th:value="${store.postalCode}">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.city}">Thành phố</label>
                            <select id="geoapi-prefectures" class="form-control" name="storeCity">
                                <option value="" th:text="#{store.info.select.city}">Chọn Thành phố</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.district}">Quận/Huyện</label>
                            <select id="geoapi-cities" class="form-control" name="storeDistrict">
                                <option value="" th:text="#{store.info.select.district}">Chọn Quận/Huyện</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.town}">Phường/Xã</label>
                            <select id="geoapi-towns" class="form-control" name="storeTown">
                                <option value="" th:text="#{store.info.select.town}">Chọn Phường/Xã</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label" th:text="#{store.info.address}">Địa Chỉ</label>
                            <input class="form-control" type="text" name="storeAddress"
                                   th:value="${store.storeAddress != null ? (store.storeAddress.contains('-') ? store.storeAddress.split('-')[1] : store.storeAddress) : ''}">

                        </div>

                        <!--                        <div class="form-group col-md-6">-->
                        <!--                            <label for="countrySelected" class="control-label">Quốc gia</label>-->
                        <!--                            <select class="form-control" id="countrySelected" name="countryId">-->
                        <!--                                <option th:each="country : ${countries}"-->
                        <!--                                        th:value="${country.countryId}"-->
                        <!--                                        th:text="${country.countryName}"-->
                        <!--                                        th:selected="${country.countryId == store.country?.countryId}">-->
                        <!--                                </option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <div class="form-group col-md-12">
                            <label class="control-label" th:text="#{store.info.image}">Ảnh cửa hàng</label>
                            <div id="mainImageUpload">
                                <input type="file" id="mainImage" name="storeImg" accept="image/*"
                                       onchange="readMainImage(this);">
                            </div>
                            <div id="mainThumbbox">
                                <img th:src="${store.pictureUrl}" height="200" width="200" style="object-fit:cover;">
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label" th:text="#{store.info.description}">Mô tả cửa hàng</label>
                            <textarea class="form-control" name="storeDescription" id="mota"
                                      th:text="${store.storeDescription}"></textarea>
                            <script>CKEDITOR.replace('mota');</script>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-save" type="submit" th:text="#{store.info.button.save}">Lưu lại</button>
                            <div th:if="${message}" class="alert alert-success mt-2" role="alert">
                                <span th:text="${message}"></span>
                            </div>
                            <div th:if="${error}" class="alert alert-danger mt-2" role="alert">
                                <span th:text="${error}"></span>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</main>
<!-- Essential javascripts for application to work-->
<script th:src="@{/seller/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/seller/js/popper.min.js}"></script>
<script th:src="@{/seller/js/bootstrap.min.js}"></script>
<script th:src="@{/seller/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top -->
<script th:src="@{/seller/js/plugins/pace.min.js}"></script>
<script>
    let additionalImageFiles = [];  // Store additional image files for deletion handling

    // Function to handle main image preview
    function readMainImage(input) {
        const mainThumbbox = document.getElementById('mainThumbbox');
        mainThumbbox.innerHTML = ""; // Clear any existing images

        if (input.files && input.files[0]) {
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.style.margin = "10px";
                img.height = 200;  // Main image height
                img.width = 200;   // Main image width
                img.style.objectFit = "cover";  // Cover the thumbnail area
                img.style.position = "relative";

                // Create red "X" icon for removing the image
                const removeButton = document.createElement('span');
                removeButton.innerHTML = "&#10006;";  // Unicode for "X"
                removeButton.style.position = "absolute";
                removeButton.style.top = "5px";
                removeButton.style.right = "5px";
                removeButton.style.color = "red";
                removeButton.style.fontSize = "20px";
                removeButton.style.cursor = "pointer";

                // Remove the main image on click
                removeButton.addEventListener('click', function () {
                    input.value = "";  // Clear the input
                    mainThumbbox.innerHTML = "";  // Remove the preview
                });

                // Create a container for the image and the remove button
                const imageContainer = document.createElement('div');
                imageContainer.style.position = "relative";
                imageContainer.style.display = "inline-block";
                imageContainer.appendChild(img);
                imageContainer.appendChild(removeButton);

                mainThumbbox.appendChild(imageContainer);  // Display the main image
            }

            reader.readAsDataURL(file);
        }
    }
</script>
<script>
    // Function to handle the "Lưu lại" button click event
    document.getElementById("saveButton").addEventListener("click", function () {
        // Display a confirmation popup similar to the delete confirmation
        swal({
            title: "Xác nhận",
            text: "Bạn có chắc chắn thay đổi thông tin cửa hàng?",
            buttons: ["Hủy bỏ", "Đồng ý"],
        }).then((willSave) => {
            if (willSave) {
                // After confirmation, display success message
                swal("Thông tin cửa hàng đã được thay đổi thành công!", {
                    icon: "success",
                }).then(() => {
                    // After success message, redirect to another page (e.g., back to the order list)
                    window.location.reload();  // Redirect to order management page
                });
            }
        });
    });
</script>
<script th:inline="javascript">
    const selectedPrefecture = /*[[${store.city}]]*/ '';
    const selectedCity = /*[[${store.district}]]*/ '';
    const selectedTown = /*[[${store.storeAddress != null ? store.storeAddress.split('-')[0] : ''}]]*/ '';

    console.log('Selected Prefecture:', selectedPrefecture);
    console.log('Selected City:', selectedCity);
    console.log('Selected Town:', selectedTown);
</script>
<script>
    const geoapiUrl = "http://geoapi.heartrails.com/api/json?jsonp=?";




    // Initialize Prefectures
    function geoApiInitializePrefectures() {
        $("#geoapi-prefectures").html('<option value="">Chọn Thành phố</option>');
        $.getJSON(geoapiUrl, { method: "getPrefectures" }, (json) => {
            const prefectures = json.response.prefecture;
            prefectures.forEach((prefecture) => {
                const isSelected = prefecture === selectedPrefecture ? "selected" : "";
                const option = `<option value="${prefecture}" ${isSelected}>${prefecture}</option>`;
                $("#geoapi-prefectures").append(option);
            });

            // Trigger change to load cities if a prefecture is preselected
            if (selectedPrefecture) {
                $("#geoapi-prefectures").trigger("change");
            }
        });
    }

    // Initialize Cities when a prefecture is selected
    function geoApiChangePrefecture() {
        const selectedPrefecture = $("#geoapi-prefectures").val();
        $("#geoapi-cities").html('<option value="">Chọn Quận/Huyện</option>');
        $("#geoapi-towns").html('<option value="">Chọn Phường/Xã</option>');

        if (selectedPrefecture) {
            $.getJSON(geoapiUrl, { method: "getCities", prefecture: selectedPrefecture }, (json) => {
                const cities = json.response.location;
                cities.forEach((city) => {
                    const isSelected = city.city === selectedCity ? "selected" : "";
                    const option = `<option value="${city.city}" ${isSelected}>${city.city}</option>`;
                    $("#geoapi-cities").append(option);
                });

                // Trigger change to load towns if a city is preselected
                if (selectedCity) {
                    $("#geoapi-cities").trigger("change");
                }
            });
        }
    }

    // Initialize Towns when a city is selected
    function geoApiChangeCity() {
        const selectedCity = $("#geoapi-cities").val();
        $("#geoapi-towns").html('<option value="">Chọn Phường/Xã</option>');

        if (selectedCity) {
            $.getJSON(geoapiUrl, { method: "getTowns", city: selectedCity }, (json) => {
                const towns = json.response.location;
                towns.forEach((town) => {
                    // Normalize and compare town names
                    const isSelected = town.town.trim() === selectedTown.trim() ? "selected" : "";
                    const option = `<option value="${town.town}" ${isSelected}>${town.town}</option>`;
                    $("#geoapi-towns").append(option);
                });
            });
        }
    }

    // Attach change event listeners to dropdowns
    $(document).ready(() => {
        geoApiInitializePrefectures();

        $("#geoapi-prefectures").change(geoApiChangePrefecture);
        $("#geoapi-cities").change(geoApiChangeCity);
    });

</script>

</script>
</body>
</html>