<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Danh sách đơn hàng | Kênh người bán</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/logistic/css/main.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Font-icon seller-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<header class="app-header">
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">


        <!-- User Menu-->
        <li><a class="app-nav__item" href="/sign-in"><i class='bx bx-log-out bx-rotate-180'></i> </a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{/images/logo/vj-market.png}"
                                        alt="User Image">
    </div>
    <hr>
    <ul class="app-menu">
        <li><a class="app-menu__item" href="/logistic/dashboard"><i class='app-menu__icon bx bx-tachometer'></i><span
                class="app-menu__label">Bảng điều khiển</span></a></li>
        <li><a class="app-menu__item active" href="/logistic/order-manager"><i class='app-menu__icon bx bx-task'></i><span
                class="app-menu__label">Quản lý đơn hàng</span></a></li>
        <li><a class="app-menu__item" href="income-manager.html"><i class='app-menu__icon bx bx-dollar'></i><span
                class="app-menu__label">Quản lý doanh thu</span></a></li>
    </ul>
</aside>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Chi tiết đơn hàng</b></a></li>
        </ul>
        <div class="col-sm-2">
            <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i
                    class="fas fa-print"></i> In hóa đơn</a>
        </div>
        <div id="clock"></div>
    </div>
    <div class="page-wrapper">
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body printableArea" id="sample">
                        <h3><b>Hóa đơn</b> <span class="pull-right" name="id" th:text="'#' + ${trackingNumber}"></span></h3>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left col-4">
                                    <address>
                                        <div>Đơn vị bán:
                                            &nbsp;<b class="text-danger text-uppercase" th:text="${storeName}"></b>
                                        </div>
                                        <div>Địa chỉ:
                                            <b class="text-secondary" th:text="${storeAddress}"></b>
                                        </div>
                                        <div>Số điện thoại:
                                            <b class="text-secondary" th:text="${storePhone}"></b>
                                        </div>
                                    </address>
                                </div>
                                <div class="pull-right text-end">
                                    <address>
                                        <div>Người mua:
                                            &nbsp;<b class="text-danger text-uppercase" th:text="${customerName}"></b>
                                        </div>
                                        <div>Địa chỉ:
                                            <b class="text-secondary" th:text="${customerAddress}"></b>
                                        </div>
                                        <div>Số điện thoại:
                                            <b class="text-secondary" th:text="${customerPhone}"></b>
                                        </div>
                                        <div>Ngày đặt:
                                            <b class="text-secondary" th:text="${orderDate}"></b>
                                        </div>
                                    </address>
                                </div>
                                <div class="pull-right col-4">
                                    <address>
                                        <div>Trạng thái hiện tại:
                                            &nbsp;<b class="text-danger text-uppercase" th:text="${orderStatus}"></b>
                                        </div>
                                        <div>Ngày cập nhật gần nhất:
                                            <b class="text-secondary" th:text="${updateTime}"></b>
                                        </div>
                                    </address>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive mt-5" style="clear: both">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-end">Tên sản phẩm</th>
                                            <th class="text-end">Màu sắc x Kích thước</th>
                                            <th class="text-end">Số lượng</th>
                                            <th class="text-end">Đơn giá</th>
                                            <th class="text-end">Thành tiền</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="order : ${orderDetails}">
                                            <td class="text-end" th:text="${order.productName}"></td>
                                            <td class="text-end" th:text="${order.productType}"></td>
                                            <td class="text-end" th:text="${order.quantity}"></td>
                                            <td class="text-end" th:text="${order.getFormattedProductPrice()}"></td>
                                            <td class="text-end" th:text="${order.getFormattedTotalPrice()}"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="text-lg-right">Cộng tiền thuế GTGT:</td>
                                            <td class="text-end" th:text="${tax} +''"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="text-lg-right">Phí vận chuyển:</td>
                                            <td class="text-end" th:text="${shippingFee}"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" class="text-lg-right"><b>Phương thức thanh toán:</b></td>
                                            <td class="text-end"><b th:text="${paymentMethod == 1 ? 'Thanh toán bằng VNPay' : 'Thanh toán bằng ví điện tử'}"></b></td>                                        </tr>
                                        <tr>
                                            <td colspan="4" class="text-lg-right"><b>Tổng cộng tiền thanh toán (áp dụng
                                                mã giảm giá):</b></td>
                                            <td class="text-end"><b th:text="${totalAmount}"></b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Essential javascripts for application to work-->
<script th:src="@{/logistic/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/logistic/js/popper.min.js}"></script>
<script th:src="@{/logistic/js/bootstrap.min.js}"></script>
<script th:src="@{/logistic/js/main.js}"></script>
<!-- The javascript plugin to display page loading on top-->
<script th:src="@{/logistic/js/plugins/pace.min.js}"></script>
</body>
</html>